<div class="mol-1d301d43-7988-4032-8392-7adbe3580e05">
    @@loop('./atoms/archive-link/index.html', [
    {"letter":"a", "classes": "active"},
    {"letter":"b", "classes": "active"},
    {"letter":"c"},
    {"letter":"d", "classes": "active"},
    {"letter":"e"},
    {"letter":"f", "classes": "active"},
    {"letter":"g"},
    {"letter":"h", "classes": "active"},
    {"letter":"i", "classes": "active"},
    {"letter":"j", "classes": "active"},
    {"letter":"k", "classes": "active"},
    {"letter":"l"},
    {"letter":"m", "classes": "active"},
    {"letter":"n", "classes": "active"},
    {"letter":"o"},
    {"letter":"p", "classes": "active"},
    {"letter":"q"},
    {"letter":"r", "classes": "active"},
    {"letter":"s", "classes": "active"},
    {"letter":"t", "classes": "active"},
    {"letter":"u"},
    {"letter":"v", "classes": "active"},
    {"letter":"w"},
    {"letter":"x"},
    {"letter":"y"},
    {"letter":"z"},
    {"letter":"æ"},
    {"letter":"ø"},
    {"letter":"å"}
    ])
</div>