.navbar-brand{
//  background: none!important;
  width: 100px!important;
  background: url(asset-path('logo.png')) no-repeat top left!important;
  background-size:cover !important;
  flex: 0 0 180px!important;
  height: 80px!important;
  text-indent: -99999px!important;
}
#header-navbar{
  background-color: $yellow;
}
.box-gradient {
  background: linear-gradient(to bottom,#002E70 0%, #00204e 100%);
}
#cookie-button{
  background-color: #171717;
  position: fixed !important;
  bottom: 0;
  padding: 1.5rem;
  padding-right: 5rem;
  color: white;
  width: calc(100vw - (100vw - 100%));
  z-index: 100;
  margin-bottom: 0!important;
  border: 0;
  border-radius: 0;

}