.navbar-brand{
//  background: none!important;
  width: 100px!important;
  background: url(asset-path('logo.png')) no-repeat top left!important;
  background-size:cover !important;
  flex: 0 0 180px!important;
  height: 80px!important;
  text-indent: -99999px!important;
}
#header-navbar{
  background-color: $yellow;
}
.box-gradient {
  background: linear-gradient(to bottom,#002E70 0%, #00204e 100%);
}