$yellow: #FFF6C4;
$gray: #343a40;
$white: #ffffff;
$light-gray: #e9ecef;
$brown: #422b06;
$blue: #002E70;

$primary: $blue;
$secondary: $yellow;
$third-color: $brown;
$fourth-color: $white;

$link-hover-color: $primary;
$footer-height: 80px;