<div data-filter="populaere ovrigt" class="org-54d5e739-f8cc-4994-a9c9-0aa293d7b729 @@classes" style="background-image:url(assets/img/hero.png)">
  <div class="inner-content grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-6 medium-offset-6">
        <div class="box flex-container align-center align-middle">
          <div>
              <h1 class="display-text">Blinde Vinkler</h1>
              <p>En digital udstilling om Dansk Vestindien</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
