$divider-height: .75rem;
@mixin blue {
  width: $vw-minus-scrollbar;
  height: 3rem;
  background-color: $color-dark-blue-100;
  margin: 2rem 0;
  @include breakpoint (medium) {
    margin: 3rem 0;
  }
}

.divider {
  position: relative;
  transition: border-color 500ms;
  overflow-x: hidden;
  max-width: 100%;
  &.column {
    width: 100% !important;
    height: 1rem !important;
    @include breakpoint (small only) {
      width: 100vw !important;
      margin-left: -1.5rem !important;
      max-width: none;
    }
  }
  &.margin-bottom {
    margin-bottom: 1.5rem;
  }
  &.blue {
    @include blue;
    transform: skewY(2deg);
  }
  &.blue-reverse {
    @include blue;
    transform: skewY(-2deg);
  }
  &.theme-colored {
    transform: skewY(2deg);
  }
  &.theme-colored-reverse {
    transform: skewY(-2deg);
  }
  &.pull-up {
    z-index: 10;
    margin-bottom: -$divider-height;
    @include breakpoint(large) {
        margin-bottom: -$divider-height * 2;
    }
  }
  &.pull-down {
    margin-top: -$divider-height;
    @include breakpoint(large) {
        margin-top: -$divider-height * 2;
        margin-bottom: 1.5rem;
    }
  }
  &.top-left {
    border-bottom: $divider-height solid transparent;
    border-right: none;
    border-left: 100vw solid white;
    @include breakpoint(large) {
      border-bottom: $divider-height * 2 solid transparent;
    }
  }
  &.top-right {
    border-bottom: $divider-height solid transparent;
    border-left: none;
    border-right: 100vw solid white;
    @include breakpoint(large) {
      border-bottom: $divider-height * 2 solid transparent;
    }
  }
  &.bottom-left {
    border-top: $divider-height solid transparent;
    border-bottom: none;
    border-left: 100vw solid white;
    @include breakpoint(large) {
      border-top: $divider-height * 2 solid transparent;
    }
  }
  &.bottom-right {
    border-top: $divider-height solid transparent;
    border-bottom: none;
    border-right: 100vw solid white;
    @include breakpoint(large) {
      border-top: $divider-height * 2 solid transparent;
    }
  }
}
