<div class="atom-8e0950d5-75ed-4a2d-ae3d-abe095620805 box flex-container align-right align-middle">
    <div class="hamburger-menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
</div>

