.org-1658591f-a5c0-404a-8f54-856d0e08ecd0 {
  h3 {
    a {
      text-decoration: none;
      color: $color-dark-blue-100;
      font-size: 20px;
    }
  }
  .path {
    @extend %regular-sans-serif;
    color: $color-almost-black-50;
    margin-bottom: .75rem;
    display: inline-block;
  }
  img {
    float: right;
    height: 8rem;
    margin-left: 2rem;
    @include media-breakpoint-down(sm) {
      display: none;
    }

    
  }
}
