.mol-d4e97117-4bf7-4516-92fa-54bb0abc40fb {
    position: relative;
    @extend %regular-sans-serif;
    z-index: 100;
    padding-right: 3rem;
    background: white;
    input {
        padding: .75rem;
        font-size: 1rem;
        border: none;
        @extend %regular-sans-serif;
        height: 3rem;
        width: 100%;
    }
    span {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(asset-path('icons/icon-arrow-dropdown.svg'));
        background-repeat: no-repeat;
        background-position: calc(100% - .75rem) center;
    }
    ul {
        display: none;
        width: calc(100% + 3rem);
    }
    &.active {
        ul {
            display: block;
        }
    }
}