.org-48c7471a-9609-40ff-92f1-2b853886634d {
  overflow: hidden;
  
  .bg-img-container {
    height: 12rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
  }

  // This exception is added because of the drawing's copyright
  // Drawing must not be cut in different devices
  a[href = '/sks'] .bg-img-container,
  a[href = '/lh'] .bg-img-container {
    background-position: right top;
  }

  a[href = '/gv'] .bg-img-container,
  a[href = '/tfs'] .bg-img-container {
    background-position: center top;
  }

  .img-frame {
    position: relative;
    button {
      position: absolute;
      bottom: .75rem;
      left: .75rem;
    }
  }
  time {
    color: $color-almost-black-50;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }
  h3 {
    color: $color-dark-blue-100;
  }
  a, button {
    cursor: pointer;
  }
  .bottom {
    div {
      @extend %regular-sans-serif;
      font-size: 0.875rem;
      display: inline-flex;
      align-items: center;
      margin-bottom: 1.5rem;
      .icon {
        margin-right: .75rem;
      }
    }
  }
  
  .hover-overlay {
    width:100%;
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  iframe {
    margin-bottom: 1.5rem;
  }
}

