.org-48c7471a-9609-40ff-92f1-2b853886634d {
  overflow: hidden;
  
  .bg-img-container {
    height: 12rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
  }
  .img-frame {
    position: relative;
    button {
      position: absolute;
      bottom: .75rem;
      left: .75rem;
    }
  }
  time {
    color: $color-almost-black-50;
    display: inline-block;
    font-size: rem-calc(16px);
    margin-bottom: 1.5rem;
  }
  h3 {
    color: $color-dark-blue-100;
  }
  a, button {
    cursor: pointer;
  }
  .bottom {
    div {
      @extend %regular-sans-serif;
      font-size: 0.875rem;
      display: inline-flex;
      align-items: center;
      margin-bottom: 1.5rem;
      .icon {
        margin-right: .75rem;
      }
    }
  }
  
  .hover-overlay {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  iframe {
    margin-bottom: 1.5rem;
  }
}

