@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Noticia+Text:400,700,italic');

@font-face {
    font-family: 'nowayregular';
    src: url('../fonts/Noway-Regular-webfont/noway-regular-webfont.eot');
    src: url('../fonts/Noway-Regular-webfont/noway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noway-Regular-webfont/noway-regular-webfont.woff2') format('woff2'),
         url('../fonts/Noway-Regular-webfont/noway-regular-webfont.woff') format('woff'),
         url('../fonts/Noway-Regular-webfont/noway-regular-webfont.ttf') format('truetype'),
         url('../fonts/Noway-Regular-webfont/noway-regular-webfont.svg#nowayregular') format('svg');
    font-weight: normal;
    font-style: normal;
};
@font-face {
    font-family: 'nowaymedium';
    src: url('../fonts/Noway-Medium-webfont/noway-medium-webfont.eot');
    src: url('../fonts/Noway-Medium-webfont/noway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noway-Medium-webfont/noway-medium-webfont.woff2') format('woff2'),
         url('../fonts/Noway-Medium-webfont/noway-medium-webfont.woff') format('woff'),
         url('../fonts/Noway-Medium-webfont/noway-medium-webfont.ttf') format('truetype'),
         url('../fonts/Noway-Medium-webfont/noway-medium-webfont.svg#nowaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

};
@font-face {
  font-family: 'nowaybold';
  src: url('../fonts/Noway-Bold-webfont/noway-bold-webfont.eot');
  src: url('../fonts/Noway-Bold-webfont/noway-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Noway-Bold-webfont/noway-bold-webfont.woff2') format('woff2'),
       url('../fonts/Noway-Bold-webfont/noway-bold-webfont.woff') format('woff'),
       url('../fonts/Noway-Bold-webfont/noway-bold-webfont.ttf') format('truetype'),
       url('../fonts/Noway-Bold-webfont/noway-bold-webfont.svg#nowaymedium') format('svg');
  font-weight: normal;
  font-style: normal;
};
@font-face {
  font-family: 'material-icons';
  src: url('../fonts/material-design-iconic-font/fonts/Material-Design-Iconic-Font.eot');
  src: url('../fonts/material-design-iconic-font/fonts/Material-Design-Iconic-Font.eot?#iefix') format('embedded-opentype'),
       url('../fonts/material-design-iconic-font/fonts/Material-Design-Iconic-Font.woff2') format('woff2'),
       url('../fonts/material-design-iconic-font/fonts/Material-Design-Iconic-Font.woff') format('woff'),
       url('../fonts/material-design-iconic-font/fonts/Material-Design-Iconic-Font.ttf') format('truetype'),
       url('../fonts/material-design-iconic-font/fonts/Material-Design-Iconic-Font.svg#nowaymedium') format('svg');
  font-weight: normal;
  font-style: normal;
};

%regular-serif {
  font-family: 'Noticia Text', serif;
}
%regular-sans-serif {
  font-family: 'nowayregular', sans-serif;
}
%medium-sans-serif {
  font-family: 'nowaymedium', sans-serif;
}
%bold-sans-serif {
  font-family: 'nowaybold', sans-serif;
}
%regular-display {
  font-family: 'Libre Baskerville', serif;
}
