.mol-9db6cd37-efc9-415d-a2ab-38bfacb57aff {
    padding: 1.5rem;
    padding-bottom: 0.01rem;
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(lg) {
        margin-bottom: 3rem;
    }
    @extend %regular-sans-serif;
    .box {
        margin-bottom: 1.5rem;
    }
    button {
        width: 100%;
        border-radius: 0;
    }
    iframe {
        max-width: 100%;
    }
}