.atom-317722d7-e5b8-4722-92cf-0be25cd1ac57 ul.facet-values .facet-label{
  text-indent: 0;
  padding-left: 0;
}

.atom-317722d7-e5b8-4722-92cf-0be25cd1ac57 .facets-heading{
  font-family: 'nowaymedium', sans-serif;
  font-size: inherit;
  color: #002E70;
}

.atom-317722d7-e5b8-4722-92cf-0be25cd1ac57 .section.active .content.range-limit-container{
  overflow: visible;
}