footer .social_media:hover{
  text-decoration: none;
}
.about-collection{
  margin-left: -15px;
  margin-right: -15px;

  h3{
    font-family: 'nowaymedium', sans-serif;
  }

  a{
    cursor: pointer;
    font-family: 'nowayregular', sans-serif;
    text-decoration: underline;
  }

}

.btn{
  display: inline;
}

.btn.btn-primary{
  @extend .button;
}
.btn.btn-secondary{
  @extend .secondary;
}
.org-fc19c325-bb61-4c28-ad0e-7c272912ed78{
  a{
    color: #002E70;
  }
  h1{
    font-family: 'nowaymedium', sans-serif;
    span {
      padding-right: .5em;
      font-family: 'nowayregular', sans-serif;
    }
  }
  &.margin-top{
    margin-top: 35px;
  }
}

#searchTips{
  font-size: smaller;
  .modal-header .close {
    padding: 0;
    margin: 0;
  }
  .modal-body{
    line-height: normal;
  }
  p{
    margin-bottom: 1.2em;
  }
}

//html{
//  height: 100%;
//}
//
//body {
//  padding-bottom: $footer-height;
//  position: relative;
//  overflow-x: hidden;
//  min-height: 100%;
//  color: #000;
//  font-family: 'Noto Serif', serif;
//  font-weight: 400;
//  font-size: 14px;
//  background-color: white;
//  background-position: center 350px;
//  background-repeat: repeat-x;
//  background-attachment: fixed;
//  -webkit-font-smoothing: antialiased;
//  a, a:hover, a:visited, a:active, a:focus {
//    outline: 0;
//    text-decoration: none;
//  }
//  .fa{
//    color: inherit;
//    &:hover{
//      color:inherit;
//    }
//  }
//}
//
//.box-shadow {
//  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
//}
//
////a:hover {
////  color: $third-color !important;
////  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
////  text-decoration: none;
////}
////
////button.btn-primary {
////  background: linear-gradient(to bottom, lighten($primary, 10%) 0%, $primary 100%);
////  color: white;
////}
////
////.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
////  color: $secondary;
////  background-color: $primary;
////  border-color: $gray-500;
////  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);;
////}
////
//.btn:hover {
//  cursor: pointer;
//}
//
//.btn-secondary {
//  color: #333;
//  background-color: white;
//  border-color: #ccc;
//}
//
//.btn {
//  font-size: 14px;
//}
//
//.text-success {
//  color: black !important;
//}
//
//
//
//.constraints-container {
//  padding-left: 15px;
//}
//// Secondary search box
//.search-secondary {
//  height: 90px;
//  margin-bottom: 15px;
//  h1 {
//    padding-left: 15px;
//    color: $secondary;
//    font-size: 25px;
//    line-height: 94px;
//    @extend .search-bg;
//    padding-top: unset!important;
//
//  }
//
//  .search-bg {
//    padding-top: 20px;
//  }
//
//  .search-btn {
//    border-radius: 10px !important;
//    font-size: 18px;
//  }
//
//  .search_q {
//    border-radius: 10px !important;
//    margin-right: 10px;
//
//  }
//
//  .search-tooltip {
//    height: 46px;
//    line-height: 26px;
//    padding: 10px;
//    vertical-align: middle;
//    text-align: center;
//  }
//}
//
//.input-group-addon {
//  margin-right: 10px;
//  padding: 15px 16px 10px 16px;
//  font-size: 15px;
//  border: none;
//  border-radius: 10px!important;
//  background-color: white;
//}
//
//.search-field, .search-match {
//  min-height: 25px;
//  border: none;
//}
//.for-match{
//  font-size: 15px !important;
//}
//
//.document {
//  border: thin solid #f2eee2;
//  padding: 1em;
//  margin: 1em;
//  border-radius: 10px;
//  margin-top: 0;
//  background-color: rgba($secondary, 0.2);
//  @extend .box-shadow;
//}
//
//*::-webkit-input-placeholder { /* Chrome/Opera/Safari */
//    color: $gray-500!important;
//  }
//*::-moz-placeholder { /* Firefox 19+ */
//    color: $gray-500!important;
//  }
//*:-ms-input-placeholder { /* IE 10+ */
//    color: $gray-500!important;
//  }
//*:-moz-placeholder { /* Firefox 18- */
//    color: $gray-500!important;
//  }




