a{
  text-decoration: underline;
}

a.comment, a.Bibel {
  text-decoration: none;
  pointer-events: none;
}

a.show_comments{
  pointer-events: auto !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

#toc {
  .current_entry_parent {
    background-Color: #d1d8e6;
  }

  .current_entry {
    font-weight: bold;
    font-family: 'nowaymedium', sans-serif;

    &:hover {
      text-decoration: none;
      cursor: default;
      color: black;
    }
  }
}

#blacklight-modal {
  h1 {
    width: 100%;
    text-align: center;
  }

  .btn {
    border-color: #002E70;

    &.btn-outline-secondary, &.btn-link {
      background-Color: #FFF6C4;
      color: #002E70;

      &:hover {
        color: #002E70;
      }

      &.active {
        cursor: text;
        background-Color: #002E70;
        color: #FFF6C4;
      }
    }

    &.btn-link {
      margin: 0;

      &:hover {
        background-Color: #FFF6C4 !important;
        text-decoration: none;
      }
    }
  }
}

footer .social_media:hover {
  text-decoration: none;
}

article.om-tekstportalen {
  h3 {
    font-family: 'nowaymedium', sans-serif;
    clear: both;
  }

  figure {
    height: auto;

    img {
      width: 20%;
    }

    &.article-right {
      margin-right: calc(-80% - 0.75rem);
    }
  }
}

.about-collection {
  margin-left: -15px;
  margin-right: -15px;

  h3 {
    font-family: 'nowaymedium', sans-serif;
  }

  a {
    cursor: pointer;
    font-family: 'nowayregular', sans-serif;
    text-decoration: underline;
  }

}

.textPossibilitiesToolbar {
  fieldset {
    border: none;
  }

  i.fa {
    color: black;
    cursor: auto;

    &:hover {
      color: black;
    }
  }
}

.org-63a1bc7e-5093-4bf0-8d2e-fcf5bfe32aca {
  margin-bottom: 0;
}
#info_modal .modal-footer > :not(:first-child) {
  margin-left: 0
}

.exposableDocumentFunctions {
  line-height: 1;

  a {
    font-size: 0;
    visibility: hidden;

    i.fa {
      font-size: medium;
      visibility: visible;
      position: absolute;
      left: 0;
      color: #000;
    }
  }
}

.page-notification.ie_message {
  text-shadow: none;

  a {
    display: inline-block;
    text-decoration: underline;

    &:hover {
      color: white;
    }
  }

  .close_notification {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;

    &:hover {
      color: white;
    }
  }
}

span.symbol, a.translation, a.modernized{
  display: none;
  cursor: pointer;
}
span.symbol.title, span.symbol.person, span.symbol.place{
  cursor: auto;
}

a.comment{
  pointer-events: none;
  cursor: default;
}

.hide_unicode_icon{
  font-size: 0;
  &:before{
    font-size: large;
    display: inline;
    font-weight: normal;
  }
}
span.symbol{
  &.translation,
  &.modernized,
  &.info,
  &.person,
  &.comment,
  &.bookmark_border,
  &.place,
  &.title{
    @extend .hide_unicode_icon;
  }
}


.quote {
  font-size: medium;
  visibility: visible;
  position: absolute;
  left: 0;
  color: #000;
  line-height: 1;
}

.the_whole {
  display: none;
}

.btn {
  display: inline;
}

.btn.btn-primary {
  @extend .button;
}

.btn.btn-secondary {
  @extend .secondary;
}

.org-fc19c325-bb61-4c28-ad0e-7c272912ed78 {
  a {
    color: #002E70;
  }

  h1 {
    font-family: 'nowaymedium', sans-serif;
    line-height: 2rem;
    font-size: 21px;

    span {
      padding-right: .5em;
      font-family: 'nowayregular', sans-serif;
    }
  }

  &.margin-top {
    margin-top: 35px;
  }
}

#searchTips {
  font-size: smaller;

  .modal-header .close {
    padding: 0;
    margin: 0;
  }

  .modal-body {
    line-height: normal;
  }

  p {
    margin-bottom: 1.2em;
  }
}
.org-01c45fc6-df1a-4fd8-b8c3-d1ff8e3b519d{
  margin-bottom: 20px !important;
}