// Style the tables inside the texts, for ex. /text/gv-1809_169A-txr-root
.collection-gv table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.collection-gv table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.collection-gv table tr:nth-child(even){background-color: #f2f2f2;}

.collection-gv table tr:hover {background-color: #ddd;}

.collection-gv table th,
.collection-gv table tr:first-child{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #c0c0c0;
  color: white;
}