.dl-invert dt, #searchTips dt{
  color:$color-almost-black-50;
  text-align: right;
}
.org-1658591f-a5c0-404a-8f54-856d0e08ecd0 {
  margin-bottom: 3rem;
  h3{
    font-family: 'nowaymedium', sans-serif;
  }
}
a {
  display: inline;
  &:hover {
    text-decoration: underline;
  }
}

.all-matches{
  @extend .button;
  @extend .so-small;
}

a.pagination {
  text-decoration: none;
}

.pagination ul li{
  list-style: none;
  color:$color-dark-blue-100;
}
.page-item.active .page-link {
  z-index: 1;
  color: white;
  background-color: $color-dark-blue-100;
  border-color: $color-dark-blue-100;
}
.page-link{
  color: $color-dark-blue-100;
}
