main .document {
  margin-bottom: 2em;
}

.lpContainer, .kbOSDViewer {
  min-height: 620px;

  i.icon:hover {
    color: $color-dark-blue-100;
  }
}

// Sat to important, because it have to override the master design where where the background color is Important.
.filter-btn:not(.active) {
  &:hover {
    background-color: darken($color-dark-blue-50, 10%) !important;
  }
}

.textToolbar .filter-btn {
  line-height: 1;
  padding: .2rem;
  margin-bottom: 0;
  margin-right: 0.5rem;

  .scissors, .pagination_other {
    position: relative;
    bottom: 2px;
  }

  .pagination_other {
    left: 3px;
  }

  &.active {
    i:hover {
      color: white;
    }
  }
}

article.ocr {
  position: relative;
  margin-right: 0;
  margin-left: 0;
  padding: 30px;

  sup a {
    cursor: pointer;
  }

  .fa-link {
    padding-left: 10px;
  }

  #escFullScreen {
    display: none;
  }

  &:-webkit-full-screen {
    padding: 0 10%;
    max-width: 57em;
    background-color: white;
    font-family: $font-family-serif;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    overflow: scroll;

    #escFullScreen {
      display: inline-block;
    }
    #ocrFullscreenButton,
    #toggleFacsimile{
      display: none;
    }
  }

  &:-moz-full-screen {
    padding: 0 10%;
    max-width: 57em;
    background-color: white;
    font-family: $font-family-serif;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    overflow: scroll;

    div.text.snippetRoot {
      width: 60em;
      margin: auto;
    }

    #escFullScreen {
      display: inline-block;
    }
    #ocrFullscreenButton,
    #toggleFacsimile{
      display: none;
    }
  }

  &:-ms-fullscreen {
    padding: 0 10%;
    max-width: 57em;
    background-color: white;
    font-family: $font-family-serif;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 60px;
    overflow: scroll;
    #escFullScreen {
      display: inline-block;
    }
    #ocrFullscreenButton,
    #toggleFacsimile{
      display: none;
    }
  }

  &:fullscreen {
    padding: 0 10%;
    max-width: 57em;
    background-color: white;
    font-family: $font-family-serif;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    overflow: scroll;
    #escFullScreen{
      display: inline-block;
    }
    #ocrFullscreenButton,
    #toggleFacsimile{
      display: none;
    }
  }
}

.kbOSDViewer {
  top: -45px; //to align with the downlaod facsimile button
}

.openseadragon-canvas {
  margin: 10px !important;
}

#kbOSDInstance {
  height: 100%;

}

#ocrFullscreenButton,
#escFullScreen,
#toggleFacsimile {
  float: right;
}

.transparentBackground {
  background-color: transparent !important;
}

.textPossibilitiesToolbar {
  margin: 0;
}

.textToolbar {
  border-bottom: 1px solid #c0c0c0;
  margin-right: -20px;
  margin-left: -20px;
  margin-top: -35px;
  max-width: unset;
  padding-bottom: 7px;
  padding-top: 10px;
}

.toolbar_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.textToolbar, .toolbar_container {
  .atom-e7937846-48b1-4797-9eb4-8cd4837fc421 {
    display: inline-block;
    margin-right: 10px;

    label:before {
      margin-right: 0;
    }
  }
}

.lpFacsContainer .downloadLinkContainer {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.lpFacsContainer, .textToolbar {
  background: white;
  z-index: 999;
  align-self: flex-start;
  top: 0;
  position: sticky !important;
}

.downloadLinkContainer i {
  padding-left: 10px;
}

.downloadLinkContainer span {
  padding-left: 2px;
}

.lpContainer {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.border-right {
  border-right: 1px solid $primary;
}

.document-metadata {
  padding-left: 15px;
}

.lpTextContainer, .lpFacsContainer, .kbOSDViewer {
  padding-left: 0;
  padding-right: 0;
}

.scrollup {
  padding: .2rem;
  border-radius: 2rem;
  font-size: .875rem;
  line-height: 1;
  visibility: hidden;
  position: fixed;
  right: 40px;
  bottom: 350px;
  background: #d1d1d1;
  color: rgb(51, 51, 51);
  z-index: 9999999999;
  transition: opacity .1s ease-in-out;

  &:hover {
    background-color: #d1d8e6 !important;
    color: #002E70 !important;
  }
}

.scrollup.show-to-top {
  cursor: pointer;
  opacity: .7;
  pointer-events: initial
}

.kbOSDViewer {
  overflow: visible !important;
  overflow-y: scroll;
  height: 620px !important;
  margin: 10px;
  margin-top: 0;

  .kbOSDToolbar {
    background-color: transparent;
    padding-top: 10px;
    height: 46px;
    position: sticky !important;
    top: 0 !important;
    border-bottom: 1px solid #c0c0c0 !important;
    padding-bottom: 5px;
  }
}

.kbOSDContent, .kbOSDToolbar {
  &.fullpage {
    background: white;
  }
}
.downloadLinkContainer {
  position: sticky !important;
  top: 0;
}

a.pagination {
  display: none;
  font-family: 'nowayregular', sans-serif;

  .symbol.pagination {
    display: inline;
    font-size: 14px;
    font-weight: normal;
  }
}

.pageBreak, a.pagination {
  small.edition {
    position: absolute;
    left: 5px;
  }
}

p.init, p.paragraph {
  text-align: justify;
}

p.paragraph {
  .pageBreak {
    &:after {
      content: "\007C\007C";
      color: $secondary;
      font-size: large;
    }
  }
}

.pageBreak a > small {
  visibility: visible;
  position: absolute;
  left: 5px;
  text-indent: 0em;
}

a[name] {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
}

.sort-pagination, .pagination-search-widgets {
  padding-left: 1em;
}

.pagination-search-widgets {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  float: right;
}

.tableOfContent:hover, #hide_facsimile:hover, #show_facsimile:hover {
  cursor: pointer;
}

.downloadLinkContainer {
  position: relative;
  z-index: 1029;
  width: 150px;
}

h1.head-in-work {
  font-size: 2em;
}

h2.head-in-text {
  font-size: 1.5em;
}

#ocrFullscreenButton {
  cursor: pointer;
}

#period {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dl-horizontal dd {
    margin-left: 180px;
  }

  .text {
    padding: 30px;
  }
}

#om-adl {
  width: 100%;
}

article > div, #om-adl > div, #period .text {
  max-width: 50em;
  margin: auto;
}

article > div.modal{
  max-width: unset;
}

.period-writers-list .icon-list {
  padding: 40px 20px 20px 20px;
}

.toggle-content {
  overflow: hidden;
  transition: height 350ms ease-in-out;
}

.hidden {
  display: none !important;
}