$theme-colors:(
primary: #1779ba,
secondary: #767676,
success: #3adb76,
warning: #ffae00,
alert: #cc4b37,
);

//$top-header-size: 60px;
//$blue-bar-height: 94px;
//$top-space: 20px;
//
//$link-hover-decoration:none;

//text service specific
//@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab);
//@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic);
//@import url(http://fonts.googleapis.com/css?family=PT+Sans);


