<div class="org-0476ac35-f52b-4669-bddf-2689c11d6027">
  <div class="inner-content grid-container ">
    <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
      <div class="cell small-12 medium-1"></div>
      <div class="cell small-12 medium-1"></div>
      <div class="cell small-12 medium-1"></div>
      <div class="cell small-12 medium-1"></div>
      <div class="cell small-12 medium-1"></div>
      <div class="cell small-12 medium-1"></div>
      <div class="cell small-12 medium-1"></div>
      <div class="cell small-12 medium-1"></div>
      <div class="cell small-12 medium-1"></div>
      <div class="cell small-12 medium-1"></div>
      <div class="cell small-12 medium-1"></div>
      <div class="cell small-12 medium-1"></div>
    </div>
  </div>
</div>
