<div class="org-28a86595-e036-4303-a317-33c76700882f @@type">
  <div class="frame">
    <div class="gallery">
      <div class="gallery-item" style="background-image: url(/assets/img/gallery-img.png)"></div>
      <div class="gallery-item" style="background-image: url(/assets/img/gallery-img.png)"></div>
      <div class="gallery-item" style="background-image: url(/assets/img/gallery-img.png)"></div>
    </div>
  </div>
  <div class="swipe-left">
    @@include('./atoms/icon/index.html', {"icon-type" : "icon-button-right", "icon-size": "icon-small"})
  </div>
  <div class="swipe-right">
      @@include('./atoms/icon/index.html', {"icon-type" : "icon-button-right", "icon-size": "icon-small"})
  </div>
  <div class="indicator"></div>
</div>
