<div class="atom-317722d7-e5b8-4722-92cf-c73e9689042a">
    <div class="section">
        <h4>Lorem title</h4>
        <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta vero, libero voluptas laudantium quos inventore, quidem voluptates ratione esse consequatur tenetur numquam deserunt rerum corrupti eum velit enim nemo. Impedit.</p></div>
    </div>
    <div class="section">
        <h4>Lorem title</h4>
        <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta vero, libero voluptas laudantium quos inventore, quidem voluptates ratione esse consequatur tenetur numquam deserunt rerum corrupti eum velit enim nemo. Impedit.</p></div>
    </div>
    <div class="section">
        <h4>@@include('./atoms/icon/index.html', {"icon-type" : "icon-music"}) Lorem title</h4>
        <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta vero, libero voluptas laudantium quos inventore, quidem voluptates ratione esse consequatur tenetur numquam deserunt rerum corrupti eum velit enim nemo. Impedit.</p></div>
    </div>
    <div class="section">
        <h4>@@include('./atoms/icon/index.html', {"icon-type" : "icon-podcast"})Lorem title</h4>
        <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta vero, libero voluptas laudantium quos inventore, quidem voluptates ratione esse consequatur tenetur numquam deserunt rerum corrupti eum velit enim nemo. Impedit.</p></div>
    </div>
</div>