.atom-317722d7-e5b8-4722-92cf-0be25cd1ac57 {
  width: 100%;
  .section {
    color: $color-dark-blue-100;
    font-size: 16px;
    border-bottom: 1px solid $color-light-gray;
    padding: .75rem 0 0 0;
    h4 {
      font-family: 'nowaymedium', sans-serif;
      font-size: inherit;
      position: relative;
      display: inline-flex;
      align-items: center;
      width: 100%;
      cursor: pointer;
      &:after {
        content: "⌃";
        transition: transform 500ms;
        height: 15px;
        position: absolute;
        right: 0;
        transform: scaleY(-1);
      }
      .icon {
        margin-right: 8px;
      }
    }
    .content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 500ms;
      ul {
        display: table;
        table-layout: fixed;
        width: 100%;
        margin-bottom: 1rem;
        padding-left: 0;
        list-style: none;
        li {
          display: table-row;
          a{
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
          .selected{
            color:$color-green-100;
          }
          .remove-icon{
            color: $color-red-100 !important;
          }
          .facet-label {
            display: table-cell;
            padding-right: 1em;
            padding-bottom: 0.5rem;
            overflow-wrap: break-word;
            -webkit-hyphens: auto;
            -o-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
          }
          .facet-count {
            display: table-cell;
            vertical-align: top;
            text-align: right;
            width: 5em;
          }
        }
      }
    }
    &.active {
      .content {
        max-height: 100vh;
      }
      h4 {
        &:after {
          transform: scaleY(1);
        }
      }
    }
  }
}