<div id="ie_banner" class="org-11bfca9f-f278-4d0e-8384-2a2d064e8f6c page-notification sticky <%= classes %>">
    <%= message %>
    <a class="close_notification" href="javascript:closeBanner();">
      <%= render :partial => 'shared/components/atoms/icon/index', locals: {icon_type: 'clear', icon_size: 'small'} %>
    </a>
</div>