.org-c3af7b08-07d8-4a3e-8b12-5b6de87acf0c {
  position: relative;
  transition: min-height 200ms ease-in;
  color: $color-dark-blue-100;
  padding: 1.5rem 0;

  .inner-content {
    @include media-breakpoint-up(xl) { // Extra large devices (large desktops, 1200px and up)
      padding: 0;
    }
  }
  
  a {
    text-decoration: none;
    @extend %medium-sans-serif;
    align-items: center;
    .account-circle {
      margin: 0 0 0 6px;

    }
  }
  .logo {
    @include media-breakpoint-up(lg){ // Large devices (desktops, 992px and up)
      min-height: 6rem;
    }
  }

  .top-nav {
    font-size: 14px;
  }

  .top-nav, .main-nav {
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    &.main-nav {
      font-size: 20px;
    }
    ul {
      @include flex-row;
      align-items: flex-end;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0 .75rem;
        white-space: nowrap;
        text-transform: uppercase;
        list-style: none;
        &:last-child {
          margin-right: 0;
        }
        button {
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 0;
          color: inherit;
        }
      }
    }
  }
  .main-nav { 
    align-items: flex-end;
    .clear {
      display: none;
    }
  }
  
  .menu-search-open & {
    
    .main-nav { 
      .clear {
        display: block;
      }
      .search {
        display: none;
      }
    }
    .form-wrapper {
      margin-top: 1.5rem;
    }
  }  

   .menu-open & {
     min-height: 100vh;
     transition: min-height 500ms ease-out;
   }
  .top-menu {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

}
