<div class="org-c8bfbf49-fc45-4e14-8fb3-e80d40ee1285">
  <div class="inner-content grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell small-12">
        <div class="menu">
          <span class="show-for-small-only">Menu</span>
          @@include("./atoms/btn-link/index.html", {"text": "Introduction", "active": "active"})
          @@include("./atoms/btn-link/index.html", {"text": "Rum 1: koloniens ufrie kroppe", "active": ""})
          @@include("./atoms/btn-link/index.html", {"text": "Rum 2: lorem ipsum", "active": ""})
          @@include("./atoms/btn-link/index.html", {"text": "Rum 3: lorem ipsum", "active": ""})
        </div>
      </div>
    </div>
  </div>
</div>
