.org-63a1bc7e-5093-4bf0-8d2e-fcf5bfe32aca {
  .center {
    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: center;
    }
  }
  margin-bottom: 1.5rem;
  .show-more {
    @extend .filter-btn;
    text-align: center;
    .less-text {
      display: none;
    }
  }

  &.show-all-filters {
    .less-text {
      display: inline;
    }
    .more-text {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    &:not(.show-all-filters) {
      a {
        &:nth-child(n+6) {
          display: none;
        }
      }
    }
  }
}
