<div class="atom-0d378dbb-558c-442e-aa50-6c7af902714b">
        <ul>
          <% datalist.each do |option| %>
                <li data-value="<%= option[1]%>"><%= option[0] %></li>
          <% end %>
        </ul> 
</div>