<div class="grid-x grid-margin-x grid-padding-y">
  <div class="small-12 medium-12 cell">
    <article class="om-tekstportalen">
      <p>Indholdet i tekstportalen er opdelt i tekstsamlinger. De tilgængelige informationstyper i samlingerne kan være meget forskellige og er styret af indholdsleverandørerne. Derfor ses ganske varierende præsentation af teksterne i tekstportalen.</p>
      <p>Anvendelsen af tekstportalen opleves typisk i tre niveauer:</p>
      <p class="pl-5">Forsiden => Søgesiden => Læsesiden</p>
      <p>Desuden kan man gå dybere i kommentarer, tekstkritik o.a. hvor de findes.</p>
      <h3 id="frontpage">Forsiden</h3>
      <figure class="article-right">
      <img src="<%= asset_url("om-tekstportalen-forside.png")%>" alt=""/>
      </figure>
      <p>På forsiden finder man en oversigt over alle tekstsamlinger i tekstportalen.</p>
      <p>Samlingerne er angivet med en ikon, og det er muligt at søge på tværs af alle samlinger.</p>
      <p>Ved at klikke på en ikon vises en beskrivelse af samlingen på søgesiden.</p>
      <h3 id="searchpage">Søgesiden</h3>
      <figure class="article-right">
        <img src="<%= asset_url("om-tekstportalen-soegeside.png")%>" alt=""/>
      </figure>
      <p>På søgesiden findes tekstsøgning i den øverste bjælke, andre søgekriterier i venstre kolonne, og til højre vises søgeresultater eller en beskrivelse af en samling.</p>
      <p>Man kan frit kombinere tekstsøgning og andre søgekriterier. Klik på ’Søgetips’ for at læse om tekstsøgning.</p>
      <p>Som udgangspunkt søger man i den samlede mængde tekster i tekstportalen, dog indgår redaktionelle tekster ikke i søgeresultatet.</p>
      <p>Ved at vælge søgefilteret ’Samling’ i venstre kolonne kan man afgrænse sin søgning til en enkelt samling. Dette svarer til at klikke på en samling på Forsiden.</p>
      <p>Ved at klikke på et søgeresultat præsenteres teksten på læsesiden.</p>
      <h3 id="readingpage">Læsesiden</h3>
      <figure class="article-right">
        <img src="<%= asset_url("om-tekstportalen-laeseside.png")%>" alt=""/>
      </figure>
      <p>På læsesiden vises den digitale tekst samt evt. en tilhørende faksimile (et billede af den oprindelige tekst). Som udgangspunkt er faksimilen skjult. Den vises ved klik på knappen ’Faksimile’ (<i class="icon photo_camera icon-small" style="vertical-align: text-bottom" title="Faksimile-ikon" aria-hidden="true"></i>).</p>
      <p>Gule markeringer i teksten fortæller, hvor tekstsøgningen har fundet match. De kan skjules ved at klikke på knappen ’Søgemarkering’.</p>
      <p>Man kan bladre i den digitale tekst ved at benytte den lodrette scrollebjælke. Bladring i den digitale tekst medfører automatisk bladring i faksimilerne og vice versa. Man kan zoome ind/ud og bladre i faksimilerne ved klik på valgmulighederne over faksimilen.</p>
      <p>I visse digitale tekster findes særlige små markører. Ved klik med mus på disse vises fx tekstkommentarer (<i class="icon comment icon-small" style="vertical-align: text-bottom" aria-hidden="true"></i>) og tekstkritik (<i class="icon info icon-small" style="vertical-align: text-bottom" aria-hidden="true"></i>). Andre steder vil der blive vist en kort forklaring eller identificering når musemarkøren holdes over en opmærket passage.</p>
      <h3 id="platforms">Platforme</h3>
      <p>Tekstportalen er forberedt til visning i nyere browsere såsom Google Chrome, Edge, Firefox og Safari. Visninger er tilrettelagt til tabletcomputere (fx iPad) og større skærme fx i Windows, Mac og Chromebook. Tekstportalen understøtter ikke smartphones.</p>
      <h3 id="dev">Tekstportalens udvikling</h3>
      <p>Tekstportalen er et produkt som vil udvikle sig over flere år, og hensigten er at benytte en ensartet måde at indkode informationer på for de mange forskellige tekster. Baseret på dette kan Det Kgl. Bibliotek skabe ensartede søgemetoder og visningselementer på tværs af alle samlinger. Med tiden forventer Det Kgl. Bibliotek at forbedre både søgemuligheder og tekstpræsentationer.</p>

    </article>
  </div>
</div>