
<article id="main-content">
  <div id="about" class="container">

<%= render :partial => 'catalog/shared_header', locals: {document:'about'}%>

        <div class="row">

          <div id="om-adl" class="document">
            <div class="text-content">
              <div class="text">

                <h2>Grundtvigs Værker</h2>


		<em>[Denne tekst er under udarbejdelse]</em>

              </div>
            </div>
          </div>
        </div>
      </div>
</article>
