<div id="main-content">
    <div id="politik" class="container">
      <%# TODO: Add the locale using configuration rather than manually sending a parameter%>
      <a href="http://www.kb.dk/da/kb/webstedet/cookiepolitik.html" target="_blank"><b>Læs mere</b></a>
    </div>
</div>