footer {
  background-color: $color-dark-blue-100;
  color: white;
  padding: 1.5rem 0;
  @extend %regular-sans-serif;
  a {
    text-decoration: none;
    margin-right: .75rem;
    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}
