.org-c8bfbf49-fc45-4e14-8fb3-e80d40ee1285 {
  z-index: 100;
  @extend %regular-sans-serif;
  .menu {
    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: center;
    }
    @media (max-width: 767.98px) { // Small only
      max-height: 3rem;
      overflow-y: hidden;
      border-top: 1px solid $color-almost-black-50;
      border-bottom: 1px solid $color-almost-black-50;
      background-color: white;
      transition: max-height 200ms ease-in;
      box-shadow: $general-box-shadow;
      &.active {
        max-height: 100vh;
        overflow-y: visible;
        span {
          &:after {
            transform: scaleY(-1);
          }
        }
      }
      span {
        &:after {
          content: "";
          transition: transform 500ms;
          height: 1.5rem;
          width: 1.5rem;
          position: absolute;
          right: .75rem;
          background-image: url(/assets/img/icons/icon-arrow-dropdown.svg);
          background-repeat: no-repeat;
          background-position: center;
        }
        
      }
      a , span {
        position: relative;
        border-left: 1px solid $color-almost-black-50;
        border-right: 1px solid $color-almost-black-50;
        border-top: none;
        border-bottom: none;
        display: inline-block;
        padding: .75rem 1.5rem;
        width: 100%;
        margin: -1px 0 0 0;
        height: 100%;
        border-radius: 0;
        background-color: white;
        &.active {
          color: $color-dark-blue-100;
        }
        &:first-child {
          border-top: 1px solid $color-almost-black-50;
        }
        &:last-child {
          border-bottom: 1px solid $color-almost-black-50;
        }
      }
    }
  }
}
