<div class="org-c2710682-7e51-4505-bd94-d40665c25bda @@classes">
  <div class="grid-x grid-margin-x">
    <div data-filter="populaere smaatryk" class="small-12 medium-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "location"})
    </div>
    <div data-filter="populaere boger" class="small-12 medium-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "video"})
    </div>
    <div data-filter="populaere maskiner" class="small-12 medium-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "location"})
    </div>
    <div data-filter="populaere landbrug" class="small-12 medium-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "location"})
    </div>
    <div data-filter="populaere landbrug" class="small-12 medium-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "location"})
    </div>
    <div data-filter="populaere kunst" class="small-12 medium-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "podcast"})
    </div>
    <div data-filter="populaere kunst" class="small-12 medium-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "location"})
    </div>
    <div data-filter="populaere plakater" class="small-12 medium-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "location"})
    </div>
  </div>
</div>
