<div class="org-c2710682-7e51-4505-bd94-d40665c25bda @@classes">
  <div class="grid-x grid-margin-x">
    <div data-filter="populaere smaatryk" class="small-12 medium-6 cell">
      @@include('./organisms/content-spot/index.html')
    </div>
    <div data-filter="populaere kunst" class="small-12 medium-6 cell">
      @@include('./organisms/content-spot/index.html')
    </div>
    <div data-filter="populaere kunst" class="small-12 medium-6 cell">
      @@include('./organisms/content-spot/index.html')
    </div>
    <div data-filter="populaere maskiner" class="small-12 medium-6 cell">
      @@include('./organisms/content-spot/index.html')
    </div>
    <div data-filter="populaere smaatryk" class="small-12 medium-6 cell">
      @@include('./organisms/content-spot/index.html')
    </div>
    <div data-filter="populaere textil" class="small-12 medium-6 cell">
      @@include('./organisms/content-spot/index.html')
    </div>
    <div data-filter="populaere textil" class="small-12 medium-6 cell">
      @@include('./organisms/content-spot/index.html')
    </div>
    <div data-filter="populaere kunst" class="small-12 medium-6 cell">
      @@include('./organisms/content-spot/index.html')
    </div>
  </div>
</div>
