<a class="mol-bcf6e5e3-5149-4ea5-81c6-eac66f103950" href="<%= url %>">
  <%= render :partial =>  'shared/components/atoms/icon/index', locals: {icon_type: 'link', icon_size: 'icon-medium'} %>
  <%= text %>
</a>
    