<% document ||= @document %>
<% doc_presenter = show_presenter(document) %>
<div id="info-box" class="hidden toggle-content">
<dl class="row dl-invert document-metadata">
  <% doc_presenter.fields_to_render.each do |field_name, field| -%>
          <div class="col-sm-12">
            <strong><%= raw render_document_show_field_label document, field: field_name %></strong><br>
            <%= raw doc_presenter.field_value field %>

          </div>
          <br>
  <% end -%>
</dl>
</div>
