<p>Samlingen indeholder digitaliseringer af trykte brevudgivelser fra Det Kgl. Bibliotek.</p>

<p>Der er over 13.000 breve som er resultatet af flere års scanningsarbejde af bøger, metadatering og programmering.&nbsp;
Hele projektet indeholder over 70.000 breve, der løbende vil blive frigivet efterhånden som ophavsretten på brevudgivelserne udløber.&nbsp;
I fremtiden håber Det Kgl. Bibliotek desuden på at kunne indlemme flere breve i brevbasen fra bl.a. andre institutioner og bibliotekets egne samlinger.</p>

<p>Digitaliseringerne muliggør at søge på tværs af brevudgivelser; du kan f.eks. finde breve fra samme afsender selvom brevene ikke
er blevet trykt i samme udgivelse.&nbsp; Det er også muligt at lave fuldtekstsøgning for at undersøge om en afsender benytter bestemte
ord eller fraser.&nbsp; Og endelig har Danmarks Breve gjort det nemmere at benytte bibliotekets mange brevudgivelser, uanset hvor i verden du befinder dig.</p>

<h3>Hvor kommer brevenes data fra?</h3>
<p>Som udgangspunkt stammer metadata fra brevudgivernes arbejde med materialet.&nbsp; I projektet med at få
Danmarks Breve udgivet på nettet er en stor del metadata fra brevudgivelserne blevet harmoniseret for at
forenkle søgningen.&nbsp; I visse tilfælde har denne harmonisering givet nye metadata.&nbsp;
Udgivelsesprincipperne for de enkelte brevudgivelser kan være forskellige, da værkerne er udgivet over en lang
årrække og af mange forskellige brevudgivere.</p>

<h3>Hvorfor er brevene trykte?</h3>
<p>Idéen bag Danmarks Breve er at tilbyde fuld søgbarhed i brevene.&nbsp; Det er opnået ved automatisk tegngenkendelse (OCR) 
som omsætter affotograferinger af tekst (faksimiler) til digital tekst.&nbsp; Det er med den nuværende teknologi desværre
ikke muligt at lave tegngenkendelse på håndskrevne breve i en tilfredsstillende kvalitet.&nbsp; Derfor er der foreløbig
kun trykte brevudgivelser i Danmarks Breve.</p>

<p>Tegngenkendelsen for de trykte breve er omkring 99&nbsp;%, hvilket betyder, at der enkelte steder vil være fejl i
den digitale tekst.&nbsp; Tegngenkendelsen er desuden lidt lavere ved visse fremmedsprog og ved tekster trykt med fraktur
(gotiske bogstaver).</p>

<h3>Adgang</h3>
<p>Materialet er fri af ophavsret.&nbsp; Man kan kopiere, ændre, distribuere og fremføre værket, også til kommercielle formål,
uden at bede om tilladelse.&nbsp; Husk altid at kreditere ophavsmanden.
<br><a rel="license" href="https://creativecommons.org/publicdomain/mark/1.0/deed.da" target="_blank" title="Åbn i nyt vindue"><img alt="Creative Commons-licens" style="border-width:0" src="https://i.creativecommons.org/p/mark/1.0/88x31.png"></a>&nbsp;
<a rel="license" href="https://creativecommons.org/publicdomain/mark/1.0/deed.da" target="_blank" title="Åbn i nyt vindue">Læs Public Domain-erklæringen</a>
</p>

<h3>Kildehenvisning</h3>
<p>Reference til et specifikt brev gives på følgende vis (eksempel):</p>
<ul>
<li>”BREV TIL: Rantzau, Gert FRA: Christian 4. (1626-01-31)”, i <i>Danmarks Breve</i>.&nbsp; Digital udgave fra Det Kgl. Bibliotek
(<a href="/text/letters-002207661-002-shoot-L0022076610020001">https://tekster.kb.dk/text/letters-002207661-002-shoot-L0022076610020001</a>)</li>
</ul>
<p>Alternativt kan URL’en angives forenklet (<a href="/letters">tekster.kb.dk/letters</a>).</p>

<h3>Version</h3>
<p>Den aktuelle version 2.0 af samlingen blev offentliggjort i februar 2023 i tekster.kb.dk.&nbsp;
Cirka 2000 breve er tilføjet i version 2.0 fordi ophavsretten er udløbet.</p>

<p>Den tidligere version 1.0 blev udgivet i en separat platform (danmarksbreve.kb.dk) som ikke gav mulighed for søgning på tværs af
forskellige samlinger.</p>

<h3>Udgiver og baggrund</h3>
<p>Samlingen Danmarks Breve er digitaliseret og udgivet af Det Kgl. Bibliotek.</p>
