<h3>Nærværende version</h3>
<p>Nærværende version indeholder trykte og utrykte skrifter fra Søren Kierkegaards Skrifter og er det første af to trin i udgivelsen. Arbejdet med udgivelse af resten af samlingen i tekster.kb.dk er i gang.</p>

<h3>Søren Kierkegaards Skrifter</h3>
<p>Søren Kierkegaards Skrifter (forkortet SKS) er en nyudgivelse af alt, hvad der findes overleveret fra Søren Kierkegaards hånd.
Teksterne er opdelt i fire kategorier:</p>

<ul>
<li><b>Trykte skrifter</b>, herunder avisartikler, med de bevarede forarbejder. Ved trykte skrifter forstås de værker, Kierkegaard selv bragte i trykken, fra den første avisartikel i 1834 til <i>Øieblikket</i> nr. 9 i 1855</li>

<li><b>Utrykte skrifter</b>, herunder påtænkte avisartikler, med de bevarede forarbejder. Ved ikke-trykte skrifter forstås de værker, Kierkegaard gjorde færdige til udgivelse, men som først udkom efter hans død, fx <i>Synspunktet for min Forfatter-Virksomhed</i>, og de værker, han ikke gjorde færdige, fx <i>Bogen om Adler</i></li>

<li><b>Journaler, notesbøger og løse papirer</b> samt Kierkegaards tilskrivninger og markeringer i bøger</li>

<li><b>Breve og biografiske dokumenter</b>, inklusive dedikationer i bøger</li>
</ul>

<p>SKS består af en bogversion (forkortet SKS-B).</p>

<p>SKS-B rummer samtlige tekster i de fire kategorier bortset fra forarbejder. SKS-B er fordelt på 28 tekstbind, som ledsages af 27 kommentarbind (mærket K) med tekstredegørelser, kommentarer, standardforkortelser, kalendere, geografiske kort og konkordanser.</p>

<p>Nærværende portal indeholder en digital version af Kierkegaards tekster samt kommentarer, tekstredegørelser, registre og geografiske kort.</p>

<p>Portrættet af Søren Kierkegaard (vignet på forsiden) er tegnet af kunstneren Peter Brandes.</p>

<h3>Videnskabelig udgave</h3>
<p>Nærværende udgave rummer annoteringer i form af kommentarer, tekstkritik, personreferencer, stedreferencer, titelreferencer og alternative sidetal (se ikonbjælken over teksten).</p>

<p>Der gøres rede for det videnskabelige arbejde i tekstredegørelsen til de enkelte værker (knappen ‘Relaterede tekster’ over teksten).</p>

<h3>Søgning</h3>
<p>Søgefacetterne ses i venstre margin.</p>

<p>Registre over steder, personer og bibelreferencer findes i højre margin på nærværende side og som søgefacetter i venstre side.</p>

<p>Tekstsøgning kan kombineres med søgefiltrering ved hjælp af bl.a. søgefacetterne ‘Andre personer’, ‘Sted’, ‘Tekstklassifikation’ og ‘Bibelsted’.</p>

<p>Vær opmærksom på om søgefacetten ‘Søren Kierkegaards Skrifter’ er krydset af i venstre side.</p>

<h3>Funktioner i teksterne</h3>
<p>Ved læsning af teksterne er det muligt at skifte mellem at læse Kierkegaards tekst og tekstredegørelsen. Dette gøres over teksten vha. knappen ‘Relaterede tekster’ øverst på læsesiden. I Kierkegaards tekst kan man få vist kommentarer, noter, angivelse af steder, personer og bibelcitater samt visning af sidetal fra SKS-B, førstetrykket og Samlede Værker&nbsp;3 (SV3).</p>

<p>De forskellige funktioner i teksten er klikbare i ikonbjælken over teksten og giver mulighed for at aktivere det videnskabelige apparat.</p>

<p>Der linkes imellem forskellige tekster og kommentarer i SKS, hvor dette er relevant.</p>

<p>Bl.a. forud for udskrivning er der mulighed for at anvende uddragsfunktionen (klik på <i class="icon scissors icon-small" title="Uddrag">✂</i> i ikonbælken) til kun at medtage særlige afsnit.</p>

<p>Forskellige markeringer kan medtages i udskriften ved at tilvælge funktioner i ikonlinjen før udskrivning.</p>

<h3>Adgang</h3>
<p>Materialet er dedikeret til public domain.
Man kan kopiere, ændre, distribuere og fremføre værket, også til kommercielle formål, uden at bede om tilladelse. Husk dog altid at kreditere ophavsmanden.</p>

<h3>Kildehenvisning</h3>
<p>Overordnet reference til Søren Kirkegaards Skrifter i nærværende portal gives således:</p>

<ul>
<li>Kierkegaard, Søren: <i>Søren Kierkegaards Skrifter</i>, udg. af Niels Jørgen Cappelørn; Joakim Garff; m.fl., Søren Kierkegaard Forskningscenteret 1997-2012 (tekster.kb.dk/sks).</li>
</ul>

<p>Reference til et specifikt værk gives på følgende vis:</p>

<ul>
<li>Kierkegaard, Søren: <i>Gjentagelsen</i> i Søren Kierkegaards Skrifter, udg. af Niels Jørgen Cappelørn; Joakim Garff; Johnny Kondrup; Alastair McKinnon; Finn Hauberg Mortensen m.fl., Søren Kierkegaard Forskningscenteret 1997-2012. Onlineudgave fra <i>Søren Kierkegaards Skrifter</i> (bind&nbsp;4, side&nbsp;50) (tekster.kb.dk/text/sks-g-txt-root).</li>
</ul>

<p>I løbende tekst henvises der i en parentes til bind og side, fx (bind 4, side 50).</p>

<p>Den specifikke URL kan ses i browserens adresselinje eller med ‘Info’-knappen over teksten. Alternativt kan URL’en angives uspecifikt: tekster.kb.dk/sks</p>

<h3>Version</h3>
<p>Den aktuelle version 2.0 blev offentliggjort i 2022 i tekster.kb.dk. Det er en delmængde af samlingen som indeholder trykte og utrykte skrifter.  Arbejdet med udgivelse af resten af samlingen i tekster.kb.dk er i gang.</p>

<p>Tidligere versioner blev udgivet i webplatformen sks.dk</p>

<h3>Udgiver og baggrund</h3>
<p><i>Søren Kierkegaards Skrifter</i> er udgivet under en bevilling fra Danmarks Grundforskningsfond til samlet finansiering af Fonden for Søren Kierkegaard Forskningscenteret ved Københavns Universitet.</p>

<p>Det annoterede materiale i denne digitale udgave er udarbejdet af
<a href="https://teol.ku.dk/skc/" target="_blank">Søren Kierkegaard Forskningscenteret</a>.</p>

<p>Nærværende udgivelse er resultatet af et senere samarbejde mellem Søren Kierkegaard Forskningscenteret og Det Kgl. Bibliotek.</p>
