<p>Denne samling indeholder <i>Beretninger om Forhandlingerne paa Rigsdagen</i>, bind I og II, der er forarbejder til grundloven af 5. juni 1849.</p>

<p>Samlingen indeholder desuden flere lovudkast bl.a. vedr. borgerlig retspleje og strafferetspleje der er afsagt af proceskommissioner i perioden 1876-1899.&nbsp;
Disse lovudkast er en del af forarbejderne til <i>Lov om rettens pleje</i> af 1916.&nbsp; 
Den vedtagne lov publiceret i <i>Lovtidende</i> er også medtaget.</p>

<h3>Teksterne</h3>
<p>Teksterne er digitaliserede og søgbare.&nbsp; De tilsvarende faksimiler (affotografering af original udgave) vises ved at klikke på kameraikonen
(<i class="icon photo_camera icon-small" style="vertical-align: text-bottom" title="Faksimile-ikon" aria-hidden="true"></i>) på læsesiden.</p>

<p>På faksimilerne kan der være to spalter ved siden af hinanden, men i den digitale tekst har vi valgt at vise den højre spalte under den venstre spalte.</p>

<p>Det bemærkes at sidenumrene ofte er skabt af digitaliseringsprocessen således at de ikke altid svarer til de sidenumre der ses på nogle af faksimilerne.&nbsp; 
Spaltenumre, som er en del af teksten, skulle derimod være korrekte (med forbehold for digitaliseringsfejl).</p>

<h3>Søgning</h3>
<p>Ud over søgning af ord kan opslag på <b>spaltenummer</b> foretages ved alm. tekstsøgning.&nbsp; I søgefeltet indtastes eksempelvis <b>”spalte1234” (uden mellemrum)</b>
for at finde spalte nummer 1234 i værkerne.&nbsp; I søgeresultatlisten vælges dernæst det ønskede værk.</p>

<h3>Adgang</h3>
<p>Love, administrative forskrifter, retsafgørelser og lignende offentlige aktstykker er ikke genstand for ophavsret.&nbsp; 
Du kan frit kopiere, distribuere eller fremføre materialet uden at bede om tilladelse.</p>

<p>Hvis materialet indeholder selvstændige bidrag, skal du være opmærksom på, at disse bidrag kan være beskyttet af ophavsret.&nbsp; 
Selvstændige bidrag må gengives i forbindelse med aktstykket.&nbsp; 
Hvis det selvstændige bidrag bruges adskilt fra aktstykket, gælder de øvrige ophavsretlige regler.</p>

<h3>Kildehenvisning</h3>
<p>Reference til en specifik side gives på følgende vis (eksempel):</p>
<ul>
<li>Proceskommissionen af 1868.&nbsp;Offentliggjort 1875: ”Udkast til Lov om Strafferetsplejen.&nbsp;(Udarbejdet af den ved allerhøjeste Reskript af 28de Februar 1868 nedsatte Proceskommission).&nbsp;Marts 1875” [R01] i Lovforarbejder.&nbsp;Digital udgave fra Det Kgl. Bibliotek i <i>Lovforarbejder</i>.
Digital udgave fra Det Kgl. Bibliotek (<a href="/text/jura-texts-r01-root">https://tekster.kb.dk/text/jura-texts-r01-root</a>)</li>
</ul>

<p>URL’en kan kopieres fra browserens adresselinje.</p>

<h3>Version</h3>
</p>Den aktuelle version 2.0 af samlingen blev offentliggjort i februar 2023 i tekster.kb.dk.&nbsp; 
Denne version erstatter den tidligere publicering i grundlov.dab.dk og retsplejelov.dab.dk</p>

<h3>Udgiver og baggrund</h3>
<p>Lovforarbejder er digitaliseret og udgivet af Det Kgl. Bibliotek.</p>
