<style>
.tfs-overview { background-color: #f4f4f4; border-radius: 8px; padding: 1em; margin-bottom: 1.2em; }
.tfs-overview div { font-weight: bold; }
.tfs-overview ul li li { font-style: italic; }
</style>

<h3>Bolle Luxdorphs samling af Trykkefrihedens Skrifter</h3>

<p>Den 14. september 1770 offentliggjorde Christian 7. et reskript (dvs. en lov), der dekreterede fuldstændig trykkefrihed i Danmark-Norge med hertugdømmerne. Hidtil skulle alle skrifter gennemlæses og godkendes af professorerne på Københavns Universitet, inden de kunne trykkes.</p>

<p>Trykkefriheden var samtidig kongens livlæge Johann Friedrich Struensees første politiske indsats som kongens nære rådgiver, og lovgivningen indvarslede Struensee-tidens intense 16 måneder med gennemgribende reformer. I løbet af de næste tre år skulle der udkomme i omegnen af 1000 ”trykkefrihedsskrifter”. Allerede i samtiden blev de kendt under denne betegnelse, idet man skelnede fra dem, som kunne være udgivet inden den ny lovgivning. Intentionen med den ny lov var, at det skulle være muligt for alle at bidrage til at kritisere gamle fordomme og søge sandheden. Der udkom faktisk også skrifter med den intention, men den ny trykkefrihed skulle vise sig at rumme meget mere end det.</p>

<p>De nye skrifter var meget forskelligartede og omfattede alt fra seriøse politiske, filosofiske, økonomiske traktater, over politisk kommentar, kritik og satire, videre over essayistik, fiktion og underholdning til sladder, injurier og pornografi. Ofte krystalliserede skrifterne sig i debatter og fejder, hvor den ene pjece kommenterede og modsagde den anden, nogle gange i lange debattråde over mange måneder.  Flertallet af skrifterne var, som praksis dengang var, anonyme eller pseudonyme – men den nye frihed bevirkede, at anonymiteten skiftede karakter. Med trykkefriheden udkom mange skrifter uden redaktør, og anonymiteten kunne nu også være skribentens dække for hård kritik eller endda injurier, ligesom den kunne muliggøre for skribenten under påtaget navn at fremlægge helt andre synspunkter end sine egne.</p>

<p>Embedsmanden Bolle Willum Luxdorph (1716-88) var i 1770 allerede en erfaren embedsmand i Danske Kancelli – og dertil lærd, digter og bogsamler. Han så det unikke i den nye situation med trykkefrihed og organiserede en indsamling af skrifter, pamfletter, pjecer og bøger, som han vurderede som trykkefrihedsskrifter i den angivne forstand, at de ikke kunne være udkommet uden den nye lov. Det gjorde han som privat bogsamler, og han organiserede materialet tematisk og fik resultatet indbundet i 47 bind.</p>

<p>Luxdorph organiserede sin samling i to ”rækker” efter den afgørende politiske begivenhed omtrent midt i perioden: Struensees fald den 17. januar 1772, da han blev arresteret for tre måneder senere at blive henrettet den 28. april 1772.</p>

<p>Hvor Trykkefriheden i 1771 gav anledning til vild eksperimenteren og udfordrende skrifter, blev den i 1772 baggrunden for en ny flod af skrifter, der på mange forskellige måder udlagde historien om Struensee og hans fald. Det nye styre anført af enkedronning Juliane Marie, arveprins Frederik, J.O. von Schack-Rathlow og Ove Guldberg strammede langsomt, i løbet af 1772, vilkårene for udgivelse, og strømmen af nye skrifter stilnede efterhånden af i løbet  1772-73. Vedtagelsen af ny lovgivning i efteråret 1773, der gav politimesteren myndighed til at skride ind over for pressen, ses ofte som den definitive afslutning af Trykkefriheden, men Luxdorph medtog i sin samling et antal skrifter fra 1774, som han skønnede havde trykkefrihedsrelevans.</p>

<p>Luxdorphs samling har været anvendt af forskere som kildemateriale til forskellige emner og problematikker i perioden, men den første store samlede udforskning af Trykkefrihedens Skrifter og Trykkefrihedstiden er i 2020, 250-året for Trykkefriheden, lagt frem af Horstbøll, Langen og Stjernfelt under titlen Grov Konfækt – tre vilde år med trykkefrihed 1770-73, I-II, forlaget Gyldendal. Fra denne bog stammer følgende tematiske oversigt over Luxdorphs Samling (rækkenumre og fortegnelsen er tilføjet nedenfor):</p>

<h4>Oversigt over samlingen</h4>

<div class="tfs-overview">
<div>Række 1</div>
<ul>
  <li>bind 1-4: Philopatreias-debatten (62 skrifter)
	  <ul>
		<li>1: Philopatreias-debattens start – Bie, Jæger, Scheffer</li>
		<li>2: Fortsat Philopatreias, bl.a. Chr. Thura</li>
		<li>3: Philodanus, Philocosmus – Guldberg, Martfelt
		<li>4: Junior Philopatreias – Rosenlund, Abildgaard</li>
	  </ul></li>
  <li>5-6: Landøkonomi (31 skrifter).
	  <ul>
		<li>5: Handel, fabrikker, landøkonomi</li>
		<li>6: Bondespørgsmålet, fællesskab, hoveri, landvæsenskommissionen</li>
	  </ul></li>
  <li>7-9: Handel, købstæder og finansvæsen (61 skrifter)
	  <ul>
		<li>7: Handel, laugsvæsen</li>
		<li>8: Christian Bagge-fejden, brændevin</li>
		<li>9: Tallotteri-debatten</li>
	  </ul></li>
  <li>10-12: Embeder, Universitetet og Norges forhold (52 skrifter)
	  <ul>
		<li>10: Militær, lægevidenskab, pebersvende</li>
		<li>11: Norges forhold og økonomi</li>
		<li>12: Universiteter og latinskoler – eksaminer – et norsk universitet</li>
	  </ul></li>
  <li>13: Scheibes ”En reisende Russer”s kritik af Danmark – med efterfølgende debat (7 skrifter)</li>
  <li>14: Debatter sommeren-efteråret 1771, kritik af dronningen og Struensee – Skriverfejden – Horeri-fejden – Bynchs fabler (35 skrifter)</li>
  <li>15: Spådomme – politisk kritik – Martin Brun (37 skrifter)</li>
  <li>16: Embedsmisbrug og lakajisme – skobørstefejden – dødsleje-fejden (31 skrifter).</li>
  <li>17: Erotik, kritik af sædelighed og prostitution – Bruns Democrit-Heraclit, Bynchs satirer (25 skrifter)</li>
  <li>18: Muntre historier og politiske fortællinger – kritik af Frankrig – fruentimmere (19 skrifter).</li>
  <li>19: Religion – Helvedes evighed-debatten – (10 skrifter).</li>
  <li>20: Skrivefriheden – skrivefriheds-debatten – Bies Gartner-Kniv – skriverfejden fortsat (18 skrifter).</li>
</ul>

<div>Trykkefrihedens skrifter efter 17. Jan. 1772</div>
<div>Række 2</div>
<ul>
  <li>bind 1: Prædikener fra Taksigelsesfesten 26. januar 1772  samt andre prædikener i anledning af 17. januar (17 skrifter)</li>
  <li>2: Andre hellige taler i anledning af 17. januar (10 skrifter)</li>
  <li>3: Nyhedsblade og efterretninger om 17. januar og Struensees levned (16 skrifter)</li>
  <li>4: Refleksioner, hyldester, taksigelser angående 17. januar (32 skrifter)</li>
  <li>5: Lovtaler og sange til kongefamilien – Christian 7.s fødselsdag 29. januar 1772 – dronning Caroline Mathildes bortrejse (27 skrifter)</li>
  <li>6: Pamfletter og viser om Struensee og Brandt i Kastellet og på skafottet (44 skrifter)</li>
  <li>7: Pamfletter og viser om bordelstorm og udfejelsesfest 17-18. januar (28 skrifter)</li>
  <li>8: ”Brevvekslinger” til og fra Struensee og Brandt m.fl. (25 skrifter)</li>
  <li>9: Tysksprogede versioner af temaer og skrifter fra bd. 3-8 (29 skrifter)</li>
  <li>10: Suhms brev Til Kongen, reaktioner og opfølgninger (20 skrifter)</li>
  <li>11: Fortællinger om stater og konger (5 skrifter)</li>
  <li>12: Spådomme, drømmesyn, profetier (18 skrifter)</li>
  <li>13: Fattigdom, plejeanstalter, overdådighed, norsk og islandsk handel (15 skrifter)</li>
  <li>14: Agerdyrkning, handel (11 skrifter)</li>
  <li>15: Politisk kritik, fortsat tallotteri-debat (15 skrifter)</li>
  <li>16: Thura-sagen (4 skrifter)</li>
  <li>17: Bynchs tidsskrifter, pamfletterne for og imod ham (14 skrifter)</li>
  <li>18: Politiske blade og ugeskrifter – Blandinger, Andres Tanker, Bies Den fra Maanen hiemkomne Politicus – (12 skrifter)</li>
  <li>19-20: Tysksprogede politiske pamfletter om Struensee og 17. januar, overvejende med alternative udlægninger (17 skrifter)</li>
  <li>21: Prædikener fra Taksigelsesfesten 1. december 1773 (18 skrifter)</li>
  <li>22-25: Skrifter primært fra anden halvdel af 1773 og 1774-75
	  <ul>
		<li>22: Arveprinsens fødselsdag og bryllup 1774 – P.F.Suhms statsromaner, primært tekster fra 1774 (25 skrifter)</li>
		<li>23: Danske kommandoord, lotteri-debatten fortsat, primært tekster fra sen 1773-74 (31 skrifter)</li>
		<li>24: Handel, håndværk og landbrug (14 skrifter)</li>
		<li>25: Kirke- og skolevæsen samt Morpionaden og Bies bønskrifter (20 skrifter).</li>
	  </ul></li>
</ul>

<div>Kvartbindet</div>
<ul><li>Det 46. bind: Skrifter af Langebek og Suhm, domme over Struensee og Brandt, tyske avisartikler om de danske begivenheder (53 skrifter).</li></ul>

<div>Foliobindet <i>(ikke medtaget)</i></div>
<ul><li>Luxdorphs 47. bind, foliobindet med 32 træsnit, 12 kobberstik og 21 mindre stik er <i>ikke</i> medtaget i nærværende onlineudgivelse. 
Bindet er i Frederiksborgmuseets besiddelse.</li></ul>

<div>Fortegnelsen</div>
<ul><li>Fortegnelse over Trykkefrihedens Skrifter. De tre bind er ikke en del af Luxdorphs samling.</li></ul>
</div>

<p>Se <a href="/pages/tfs-bibliografi">detaljeret bibliografi over onlineudgivelsen</a>.</p>

<p>Den fulde titel af Luxdorphs samling er: <b>Luxdorphs samling af trykkefrihedens skrifter 1770-1773</b>.
Nærværende onlineudgivelse benævnes blot <b>Trykkefrihedens Skrifter.</b></p>

<h4>Faksimiler</h4>
<p>Faksimiler (affotografering af de originale skrifter) vises ved at klikke på kameraikonen
(<i class="icon photo_camera icon-small" style="vertical-align: text-bottom" title="Faksimile-ikon" aria-hidden="true"></i>) til højre over teksten på læsesiden.</p>

<h4>Kildehenvisning</h4>
<p style="margin-bottom:.3em">Overordnet reference til Trykkefrihedens Skrifter angives med webadresse, versionsnummer og dato:</p>
<ul>
<li><i>Trykkefrihedens Skrifter</i> (1770-1773), digital udgave fra Det Kgl. Bibliotek (https://tekster.kb.dk/tfs). Version 1.00, september 2020.</li>
</ul>

<p style="margin-bottom:.3em">Reference til et specifikt værk gives på følgende vis:</p>
<ul>
<li><i>Trykkefrihedens Skrifter</i>(1770-1773), række <b>X</b>, bind <b>Y</b>, ”<b>specifik&nbsp;titel</b>”, digital udgave fra Det Kgl. Bibliotek
(https://tekster.kb.dk/tfs). Version 1.00, september 2020.</li>
<li>Eksempel:<br/>
<i>Trykkefrihedens Skrifter</i>(1770-1773), række 1, bind 2, ”Misokakias imod Philopatreias”, digital udgave fra Det Kgl. Bibliotek
(https://tekster.kb.dk/tfs). Version 1.00, september 2020.</li>
</ul>

<h4>Version</h4>
<p>Den aktuelle version 1.00 blev offentliggjort i september 2020.</p>

<h4 style="margin-bottom:.8em">Digitalisering af teksterne</h4>
<ul>
<li>Teksttype:  Retrodigitaliseret fra pamfletter af varierende kvalitet oftest skrevet med fraktur. Flere sprog optræder; især dansk, tysk, fransk og latin</li>
<li>Digital tekstkvalitet:  Korrekturlæst OCR i ALTO-format</li>
<li>Billedkvalitet:  600 DPI, bitdybde 24.</li>
</ul>

<h4 style="margin-bottom:.8em">Udgiver og baggrund</h4>
<ul>
<li>Udgives af Det Kgl. Bibliotek som bidrag til forskningsprojekt ved prof. Ulrik Langen og prof. Frederik Stjernfelt i 2019-2020</li>
<li>Forskningsmidler fra Carlsbergfondet. Læs mere her: <a href="https://www.carlsbergfondet.dk/da/Nyheder/Nyt-fra-fondet/Nyheder/Trykkefrihed-og-tilblivelsen-af-en-ny-offentlighed">https://www.carlsbergfondet.dk/da/Nyheder/Nyt-fra-fondet/Nyheder/Trykkefrihed-og-tilblivelsen-af-en-ny-offentlighed</a></li>
<li>Digitalisering og IT-udvikling i Det Kgl. Bibliotek</li>
</ul>
