<p><i>[Denne tekst er under udarbejdelse]</i></p>
<p>Arkiv for Dansk Litteratur er samling af udvalgte dele af ældre dansk
  litteratur &ndash; fra middelalderen og frem til midt i det
  20. århundrede. ADL er en ressource for forskning, undervisning og bred formidling af
  ældre dansk litteratur.</p>
<p>Samlingen kan også tilgås på sin egen hjemmeside: <a href='http://www.adl.dk/' target="_blank">www.adl.dk</a>&nbsp;</p>
<p>ADL er et samarbejde mellem
  <a href='http://www.kb.dk/' target="_blank">Det Kgl. Bibliotek</a> og
  <a href='http://www.dsl.dk/' target="_blank">Det Dansk Sprog- og Litteraturselskab</a>.
  ADL rummer p.t. værker af 78 forfattere.</p>
<p>Teksterne i ADL er gengivet efter trykte
  standardudgaver. Teksterne kan ses i to forskellige
  former, dels som digitale faksimiler af den trykte
  udgave, dels som søgbar tekst. De to former vises
  ved siden af hinanden. De digitaliserede tekster er
  OCR-behandlede og opmærkede i tekstformatet TEI. Materialet kan også
  tilgås direkte via
  <a href='https://github.com/Det-Kongelige-Bibliotek/access-digital-objects/blob/master/text-corpora.md' target="_blank">Det Kgl.
    Biblioteks API</a>.</p>