<p>Denne udviklingsversion af Grundtvigs Værker på tekster.kb.dk har udvalgte funktionaliteter.
  En mere udbygget version findes på <a href="http://xn--grundtvigsvrker-7lb.dk/" target="_blank">grundtvigsværker.dk</a>.
  Søgemuligheder og tekstpræsentationer på tekster.kb.dk forbedres løbende.</p>

<h3 style="margin-bottom:.3em">Grundtvigs Værker</h3>
<p style="margin-top:0; padding-left:2em; text-indent:-1em;">&mdash; en tekstkritisk og kommenteret udgave af N.F.S.
  Grundtvigs trykte forfatterskab.</p>

<p>N.F.S. Grundtvig (1783&ndash;1872) var en af de betydeligste personligheder i 1800-tallets danske åndsliv. Han var digter,
  præst, historiker, politiker, filolog og pædagogisk tænker. Hans omfattende virke har sat afgørende præg på dansk
  samfundsbygning, kultur og kirkeliv.</p>

<p><i>Grundtvigs Værker</i> (GV) er en digital videnskabelig udgave, der er tekstkritisk og kommenteret. Udgaven
  rummer det trykte forfatterskab og tilbyder et omfattende apparat. Når den er færdig, vil udgaven omfatte ca. 
  37.000 sider fordelt på omtrent 1000 værker.</p>

<h3>Faksimiler</h3>
<p>Faksimiler (affotografering af de originale værker) vises ved at klikke på kameraikonen
  (<i class="icon photo_camera icon-small" style="vertical-align: text-bottom" title="Faksimile-ikon" aria-hidden="true"></i>)
  til højre over teksten på læsesiden.</p>

<h3>Teksterne</h3>
<p>GV er tekstkritisk, dvs. at grundteksterne er gennemgået systematisk efter videnskabelige principper, og fejl er blevet
  rettet. Alle rettelser er noteret, så de kan efterprøves. Grundteksterne er de trykte førsteudgaver, som udkom i Grundtvigs
  levetid, og disse kan ses i fotografiske faksimiler ved siden af den kritisk etablerede tekst. Hans breve,
  dagbøger, prædikenmanuskripter og lignende indgår ikke i udgaven.</p>

<p style="margin-bottom:.3em">Udgaven er kommenteret, dvs. at Grundtvigs tekster er forsynet med forklaringer af forskellig art:</p>
<ul>
 <li><i>Indledninger</i>, der forklarer den historiske baggrund for værket.</li>
 <li><i>Tekstredegørelser</i>, der beskriver de relevante manuskripter og tryk.</li>
 <li><i>Punktkommentarer</i>, der letter læsningen ved at forklare vanskelige ord, samt i enkelte tilfælde
  historiske begivenheder og litterære hentydninger. For verbalkommentarerne gælder, at kun ord, som enten
  ikke forklares eller ikke forklares dækkende i <a href="https://ordnet.dk/ddo/" target="_blank">Den Danske
  Ordbog</a>, kommenteres.</li>
</ul>

<p>Desuden er Grundtvigs tekster opmærket til fem registre således, at man kan få en kort forklaring eller
  identificering frem ved markerede ord og passager. Disse registre dækker personer, steder, bogtitler,
  mytologiske figurer og begreber samt henvisninger til bibelsteder.</p>

<p>Endelig rummer udgaven en række værktøjer: en historisk tidslinje, land- og bykort, en registrant over en del af
  Grundtvigs efterladte papirer, et salmeregister over førstelinjer og en fortegnelser over hans bogsamling. Disse
  ekstra funktionaliteter er i øjeblikket kun tilgængelige på
  <a href="http://xn--grundtvigsvrker-7lb.dk/" target="_blank">grundtvigsværker.dk</a>.</p>

<h3>Adgang</h3>
<p>Grundtvigs værker i GV er frit tilgængelige i henhold til loven om ophavsret. For udgivertekster (indledninger,
  tekstredegørelser, kommentarer) gælder almindelig praksis for henvisning til akademisk arbejde.</p>

<h3>Kildehenvisning</h3>
<p style="margin-bottom:.3em">Overordnet reference til <i>Grundtvigs Værker</i> i nærværende portal angives således:</p>
<ul>
  <li><i>Grundtvigs Værker</i> (2010&ndash;) udgivet af Center for Grundtvigforskning ved Aarhus Universitet
  (tekster.kb.dk/gv).</li>
</ul>

<p style="margin-bottom:.3em">Reference til et specifikt værk gives på følgende vis:</p>
<ul>
  <li>Grundtvig, N.F.S (1817) ”Ansgars Eftermæle” i <i>Danne-Virke et Tids-Skrift, </i>bind 3, s. 101&ndash;167,
  København; her efter udgaven i <i>Grundtvigs Værker</i>, udgivet af Center for Grundtvigforskning ved Aarhus
  Universitet (tekster.kb.dk/gv).</li>
</ul>

<p style="margin-bottom:.3em">Referencer til udgivertekst angives på følgende vis:</p>
<ul>
  <li>Tullberg, Steen (2014) ”Indledning til <i>Nyaars-Morgen</i><i>. Et Rim</i>” i <i>Grundtvigs Værker</i>,
  udgivet af Center for Grundtvigforskning ved Aarhus Universitet (tekster.kb.dk/gv).</li>
</ul>

<h3>Version</h3>
<p>Den aktuelle version 1.17 blev offentliggjort i oktober 2021.</p>

<h3>Udgiver og baggrund</h3>
<p>Denne digitale videnskabelige udgave af Grundtvigs værker er udarbejdet af
  <a href="https://grundtvigcenteret.au.dk/" target="_blank">Center for Grundtvigforskning</a> ved Aarhus
  Universitet, Aarhus &amp; København. Udgivelsen blev påbegyndt i 2010 og forventes færdig i 2029.</p>

<p style="margin-bottom:.3em">Udgivelsen præsenteres på forskellig måde:</p>
<ul>
  <li>af Center for Grundtvigforskning på <a href="http://xn--grundtvigsvrker-7lb.dk/" target="_blank">grundtvigsværker.dk</a></li>
  <li>af Det Kgl. Bibliotek i nærværende portal <a href="https://tekster.kb.dk/">tekster.kb.dk</a></li>
</ul>
