<style>
.about-collection .read-more-before { margin-bottom: 0; }
.about-collection .read-more-btn { cursor:pointer; text-decoration: underline !important; }
.about-collection .read-more {
  display: none;
  margin-top: 0;
  margin-left: 2em;

  padding: .7em;
  border: 1px solid #ccc; 
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;    
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.about-collection .read-more > *:last-child { margin-bottom: 0; }
.about-collection .read-more-after { margin-top: 1.2em; }
</style>

<p>Danskeren Louis Hjelmslev (1899-1965) må regnes for en af betydeligste sprogforskere inden for den europæiske
idehistoriske strømning ‘strukturalismen’ som især præger humaniora i mellemkrigstiden og både humaniora og
samfundsvidenskaberne i tiden umiddelbart efter anden verdenskrig.&nbsp; Hjelmslev havde stor gennemslagskraft
internationalt både personligt og i kraft af sine værker, især hovedværket <i>Omkring Sprogteoriens Grundlæggelse</i>,
som udkom under besættelsen i 1943 og blev oversat til engelsk i 1952.</p>

<p>Louis Hjelmslev blev leder af en kreds af sprogforskere bestående af Hans Jørgen Uldall (1907-1957), 
Jens Holt (1904-1973), Eli Fischer-Jørgensen (1911-2010), Paul Diderichsen (1905-1964) og Henning Spang-Hanssen (1920-2002)
samt Harry Wett Frederiksen (1916-1974).&nbsp; Endelig spiller hans amerikanske oversætter Francis J. Whitfield (1916-1996)
en vigtig rolle som diskussionspartner i Hjelmslevs sidste periode.</p>

<p>Louis Hjelmslevs primære skabende indsats kom i de yngre år dvs. perioden fra 1928 til 1945.&nbsp; Med alderen forblev
han centrum for kredsen, men var ikke i stand til at skabe fortsat fremdrift.</p>

<p class="read-more-before"><a class="read-more-btn" data-read-more="introLHreadmore1">Læs mere…</a></p>

<div class="read-more" id="introLHreadmore1">
<p>Den danske sprogvidenskabelige strukturalisme bygger primært på Hjelmslevs og Uldalls indsats.&nbsp; De skabte
sammen en sprogteori som de kaldte ‘glossematik’.&nbsp; De øvrige forskere i kredsen havde hver deres roller i forhold
til den centrale duo.&nbsp; Som professor i lingvistik i Aarhus satte Jens Holt en stor ære i at formidle Hjelmslevs
arbejdsmåde omfattende og korrekt i forskning og undervisning.&nbsp; Derfor er brevvekslingen mellem Hjelmslev og ham
vigtig ved at uddybe og præcisere spørgsmål om hvordan teorien skal udfoldes analytisk.&nbsp; Noget lignende gælder
brevvekslingen med oversætteren og formidleren Whitfield.&nbsp; Eli Fischer-Jørgensen og Paul Diderichsen var derimod
forskere der til dels arbejdede på kanten af Hjelmslevs metoder.&nbsp; De brugte dem i nogen udstrækning, men var ofte
også kritiske og spørgende over for de ideer som Hjelmslev (re)præsenterede.</p>

<p>Teksterne har ikke kun historisk interesse.&nbsp; Mange af de diskussionsemner som præger sprogforskningen i dag,
behandles faktisk i de gamle tekster:&nbsp; Stilistik og sprogteori, individuelle forskelle og gruppeforskelle, analyser af
udtrykssystemer som tager hensyn til morfologi, etc. etc.&nbsp; Derudover er der selvfølgelig en historisk interesse:&nbsp;
I brevvekslingen mellem Paul Diderichsen og Eli Fischer-Jørgensen behandles vigtige forbemærkninger til sætningsskema-analysen
lige som brevvekslingen mellem Uldall og Hjelmslev kommer ind på en række filosofiske spørgsmål som stadig er uløste.</p>
</div>

<h3 class="read-more-after">Samlingen</h3>
<p>Samlingen består af dokumenter der benytter maskinskrift, trykt skrift, alm. håndskrift, stenografi, og af
enkelte fotografier.&nbsp; De sprogvidenskabeligt relevante dele af Louis Hjelmslevs arkiv og af de andre nævntes arkiver
i Det Kgl. Biblioteks besiddelse er digitaliseret.&nbsp; Kun maskinskrift og trykt skrift er omsat til digital søgbar tekst
vha. automatisk tekstgenkendelse (OCR).&nbsp; Ofte er håndskrift og maskinskrift/trykt skrift blandet hvorfor den automatiske
tekstgenkendelse fra faksimilerne kan være mangelfuld.&nbsp; Al genkendt tekst er søgbar selv om vi har valgt kun at vise
faksimiler uden den digitaliserede tekst for dokumenter som primært er håndskrift og stenografi.</p>

<p>Teksterne bringes i denne version uredigeret og uden annotering.&nbsp; Der henvises til
<a href="glossematics.dk">glossematics.dk</a> hvis man er interesseret i opklaring af personnavne, stednavne og terminologi.</p>

<h3>Faksimiler</h3>
<p>Når den digitale tekst ses, er faksimiler (affotografering af de originale værker) indledningsvis skjult.&nbsp; De kan
imidlertid altid vises ved at klikke på kameraikonen
(<i class="icon photo_camera icon-small" style="vertical-align: text-bottom" title="Faksimile-ikon" aria-hidden="true"></i>)
til højre over teksten på læsesiden.</p>

<h3>Adgang</h3>
<p>Materialet kan være ophavsretligt beskyttet, og så må du kun bruge det til personlig brug.&nbsp; Hvis ophavsmanden er død
for mere end 70 år siden, er værket fri af ophavsret (public domain), og så kan du bruge værket frit.&nbsp; Hvis der er flere
ophavsmænd, gælder den længstlevendes dødsår.&nbsp; Husk altid at kreditere ophavsmanden.</p>

<h3>Kildehenvisning</h3>
<p>Reference til et specifikt dokument gives på følgende vis (eksempel):</p>
<ul>
<li>Hjelmslev, Louis: ”Sprogteori, [MTG] 125-2430”, i <i>Louis Hjelmslev og hans kreds</i>.&nbsp; Digital udgave fra Det Kgl. Bibliotek
(<a href="/text/lh-texts-kapsel_125-shoot-workidacc-1992_0005_125_MTG_2430">https://tekster.kb.dk/text/lh-texts-kapsel_125-shoot-workidacc-1992_0005_125_MTG_2430</a>)</li>
</ul>
<p>Alternativt kan URL’en angives forenklet (<a href="tekster.kb.dk/lh">tekster.kb.dk/lh</a>).</p>

<h3>Version</h3>
<p>Den aktuelle version 1.0 blev offentliggjort i februar 2023 af Det Kgl. Bibliotek.</p>

<h3>Udgiver og baggrund</h3>
<p>Skabelsen af denne digitale samling blev finansieret af Carlsbergfondet i 2018-2023 i og med projekt Infrastrukturalisme.&nbsp;
Digitaliseringen er foretaget af Det Kgl. Bibliotek i samarbejde med forskerne Henrik Jørgensen, Frans Gregersen og
Lorenzo Cigana m.fl.&nbsp; Se alternativt <a href="https://glossematics.dk/">glossematics.dk</a> for en udgivelse med forskere som målgruppe.</p>

<script>
read_more_btns = document.querySelectorAll('a.read-more-btn');
read_more_btns.forEach(read_more_btn => {
  read_more_btn.addEventListener('click', function(event) {
    var anchor = event.target.dataset.readMore;
    if (anchor) {
      let readMore = document.getElementById(anchor);

      let isHidden = !( readMore.offsetWidth || readMore.offsetHeight || readMore.getClientRects().length );

      readMore.style.display = isHidden ? 'block' : 'none';
      event.target.innerHTML = isHidden ? 'Skjul…' : 'Læs mere…';
    }
  });
});
</script>
