<p>Arkiv for Dansk Litteratur (ADL) er en litteraturhistorisk samling af udvalgte dele af den ældre danske litteratur &ndash; fra middelalderen og frem til midt i det 20. århundrede. Her får man adgang både til teksterne og til introduktioner om størstedelen af forfatterne. ADL er en ressource for forskning, undervisning og bred formidling af ældre dansk litteratur. ADL rummer p.t. værker af 78 forfattere.</p>

<h3>Teksterne</h3>
<p>Teksterne er gengivet efter trykte standardudgaver. Alle teksterne er søgbare, og mange tekster kan også vises som faksimiler (affotografering af original udgave) ved at klikke på kameraikonen (<i class="icon photo_camera icon-small" style="vertical-align: text-bottom" title="Faksimile-ikon" aria-hidden="true"></i>) på læsesiden.</p>

<h3>Forfatterportrætter</h3>
<p>Til en lang række af forfatterskaberne kan man finde en faglig introduktion skrevet af en ekspert. Disse forfatterportrætter rummer både biografiske oplysninger og en gennemgang af forfatterens litterære produktion. Desuden kan man finde bibliografiske oplysninger om de vigtigste udgaver og den vigtigste senere litteratur om forfatterskabet.</p>

<h3>Brugsrettigheder</h3>
<p>Udgiver har den fulde ophavsret.</p>

<p>Dog kan værket gengives i det omfang som det følger af ophavsretsretlige undtagelser om citat, kopiering til privat brug mv. Desuden kan der ske kopiering til undervisningsbrug mv. i det omfang som det følger af aftaler indgået med Copydan og tilsvarende institutioner.</p>

<p>Nogle af værkerne i Arkiv for Dansk Litteratur er dog helt fri af ophavsret (public domain), og så kan du bruge værket frit.</p>

<p><i>Du kan finde hvilke værker fra Arkiv for Dansk Litteratur som er frie i <a href="/pages/adl-overview-copyright">denne liste</a>. Har du spørgsmål til benyttelsen af et værk, kan du kontakte udgiver: <a href="https://dsl.dk/" target="_blank" title="Åbn i nyt vindue">Det Danske Sprog- og Litteraturselskab</a></i></p>

<h3>Kildehenvisning</h3>
<p style="margin-bottom:.3em">Forfatternes tekster stammer fra udgaver, som er gjort tilgængelige efter 70-årsklausulen i loven om ophavsret. Man refererer til værkerne ved at anføre ADL som kilde efter følgende grundform:</p>
<ul>
<li>Forfatter: <i>Værkets titel i kursiv</i>, udgaveinformation for trykt udgave. tekster.kb.dk/adl, version versionsnr., adgangsdato.</li>
</ul>

<p>Bemærk, at ved "adgangsdato" forstås datoen for benyttelsen af værket i tekster.kb.dk</p>

<p style="margin-bottom:.3em">Eksempel:</p>
<ul>
<li>Richardt, Chr.: <i>Samlede Digte. Første deel</i>, 1895. tekster.kb.dk/adl, version 3.0, 23. september 2020.</li>
</ul>

<p>I øvrigt fås udgaveinformation og en detaljeret citeringstekst ved at klikke på knappen &lsquo;Info&rsquo; på læsesiden.</p>

<h3>Version</h3>
<p>Den aktuelle version 3.0 blev offentliggjort i september 2020.</p>

<p>Versionen adskiller sig fra de foregående to versioner primært ved forbedret søge- og visningsfunktionalitet.  Indholdsmæssigt er der ingen ændringer i forhold til version 2.0 (tidligere publiceret på webadressen adl.dk).</p>

<p>I version 2.0 (2008) blev der tilføjet en række nye tekster. Det drejede sig om forfatterskaber, der var blevet frigivet efter 70-årsklausulen i loven om ophavsret.</p>

<p>Nærværende onlineudgivelse af Arkiv for Dansk Litteratur kan senere få tilføjet nye forfatterskaber.</p>

<h3>Digitalisering af teksterne</h3>
<p>De digitaliserede tekster er OCR-behandlet og derefter semantisk opmærket i TEI P5-formatet. Materialet kan også tilgås via <a href="https://api.kb.dk/data/text" target="_blank">Det Kgl. Biblioteks API</a>&nbsp;(se <a href="https://github.com/Det-Kongelige-Bibliotek/access-digital-objects/blob/master/text-corpora.md" target="_blank">teknisk uddybbing</a>).</p>

<h3>Udgiver og baggrund</h3>

<p>ADL er et samarbejde mellem <a href="http://www.kb.dk/" target="_blank">Det Kgl. Bibliotek</a> og <a href="https://dsl.dk/" target="_blank">Det Danske Sprog- og Litteraturselskab</a>.</p>

<p>ADL blev lanceret første gang i 2001. Projektet blev dengang muliggjort gennem økonomisk støtte fra KulturNet Danmark og Danmarks Elektroniske Fag- og Forskningsbibliotek (DEFF).</p>
