
<h1>Hvad er Danmarks Breve?</h1>
<p><em>Danmarks breve</em> er en søgebase, hvor du finder digitaliseringer af trykte brevudgivelser fra Det Kgl. Bibliotek. Digitaliseringerne muliggør at søge på tværs af brevudgivelser, du kan f.eks. finde breve fra samme afsender, selvom brevene ikke er blevet trykt i samme udgivelse. Det er også muligt at lave fuldtekstsøgning for at undersøge om en afsender benytter bestemte ord eller fraser. Og endelig har Danmarks Breve gjort det nemmere at benytte bibliotekets mange brevudgivelser, uanset hvor i verden du befinder dig. </p>

<h1>Hvad kan jeg finde?</h1>

<p>I første omgang finder du over 12.000 breve, der er resultatet af flere års scanningsarbejde af bøger, metadatering og programmering. Hele projektet indeholder over 70.000 breve, der løbende vil blive frigivet efterhånden som ophavsretten på brevudgivelserne udløber. I fremtiden håber Det Kgl. Bibliotek desuden på at kunne indlemme flere breve i brevbasen fra bl.a. andre institutioner og bibliotekets egne samlinger.
</p>
<p>Oversigt over brevudgivelser som p.t. er tilgængelige i <a href="/brevudgivelser">Danmarks Breve.</a></p>

<h1>Hvor kommer brevenes data fra?</h1>
<p>Som udgangspunkt stammer metadata fra brevudgivernes arbejde med materialet. I projektet med at få <em>Danmarks Breve</em> online er en stor del metadata fra brevudgivelserne blevet harmoniseret for at forenkle søgningen. I visse tilfælde har denne harmonisering kastet nye metadata af sig. </p>

<p>Principperne forklares i <a href="/pages/help">”Hvordan søger jeg?”. </a></p>
<p>Hvis du er interesseret i de enkelte værkers udgivelsesprincipper, findes de ofte i efterord eller forord. Disse kan du finde i visningen af hele brevudgivelsen, som du får adgang til fra brevene ved at klikke på ”se hele bogen” umiddelbart over brevets metadata. Udgivelsesprincipperne for de enkelte brevudgivelser kan være forskellige på tværs af <em>Danmarks Breve</em>, da værkerne er udgivet over en lang årrække og af mange forskellige brevudgivere.</p>

<h1>Hvorfor er brevene trykte?</h1>
<p>Idéen bag <em>Danmarks Breve</em> er at tilbyde fuldtekstsøgbarhed i brevene. Det gøres ved optisk tegngenkendelse, hvilket er en metode, der tillader computere at læse fysiske tekster og ”oversætte” dem til digitale tekster. Det er med den nuværende teknologi desværre ikke muligt at lave tegngenkendelse på håndskrevne breve i en tilfredsstillende kvalitet, derfor er der foreløbig kun trykte brevudgivelser i <em>Danmarks Breve</em>.
</p>
<p>
  Tegngenkendelsen på de trykte breve er omkring 99%, hvilket betyder, at der enkelte steder vil være fejl i den computergenererede tekst. Tegngenkendelsen er desuden lidt lavere ved visse fremmedsprog og ved tekster trykt med fraktur (gotiske bogstaver).
</p>
