<h3>Grundtvigs Værker</h3>
<p>– en tekstkritisk og kommenteret udgave af N.F.S. Grundtvigs trykte forfatterskab.</p>

<p>N.F.S. Grundtvig (1783-1872) var en af de betydeligste personligheder i 1800-tallets danske åndsliv. Han var digter,
  præst, historiker, politiker, filolog og pædagogisk tænker. Hans omfattende virke har sat afgørende præg på dansk
  samfundsbygning, kultur og kirkeliv.</p>

<p><i>Grundtvigs Værker</i> (GV) er en tekstkritisk og kommenteret udgave af det trykte forfatterskab, der, når den er
  færdig, vil omfatte ca. 37.000 tryksider fordelt på godt 1000 værker. GV udgives af
  <a href="http://grundtvigcenteret.au.dk/" target="_blank">Grundtvig Centeret</a> ved Aarhus Universitet. Arbejdet blev
  påbegyndt i 2010 og forventes færdig i 2030.</p>

<p>GV tilbyder en række værktøjer, som hjælper læseren ind i forfatterskabet, bl.a. kommentarer til vanskelige passager
  i Grundtvigs tekster samt indledninger til hvert værk.</p>

<h3>Teksterne</h3>
<p>GV er tekstkritisk, dvs. at grundteksterne er gennemgået systematisk, og fejl er blevet rettet. Alle rettelser er
  noteret, så de kan efterprøves. Grundteksterne er de trykte førsteudgaver, som udkom i Grundtvigs levetid, og disse
  kan ses i fotografiske faksimiler ved siden af den kritisk etablerede tekst. Hans breve, dagbøger,
  prædikenmanuskripter og lignende indgår ikke i udgaven.</p>

<p>Udgaven er kommenteret, dvs. at Grundtvigs tekster er forsynet med forklaringer af forskellig art:</p>
<ul>
  <li><i>Indledninger</i>, der forklarer den historiske baggrund for værket.</li>
  <li><i>Tekstredegørelser</i>, der beskriver de relevante manuskripter og tryk.</li>
  <li><i>Punktkommentarer</i>, der letter læsningen ved at forklare vanskelige ord, samt i enkelte tilfælde historiske
    begivenheder og litterære hentydninger. For verbalkommentarerne gælder, at kun ord, som ikke forklares entydigt i
    <a href="https://ordnet.dk/ddo/" target="_blank">Den Danske Ordbog</a>, kommenteres.
  </li>
</ul>
<p>Desuden er Grundtvigs tekster opmærket til fem registre således, at man ved at holde musen over en opmærket passage
  kan få en kort forklaring eller identificering. Disse registre dækker personer, steder, bogtitler, mytologiske
  begreber og henvisninger til bibelsteder.</p>

<p>Endelig rummer udgaven en række værktøjer: en historisk tidslinje, land- og bykort, en registrant over en del af
  Grundtvigs efterladte papirer, en fortegnelse over hans bogsamling og registre.</p>

<h3>Tilgængelighed</h3>
<p>Grundtvigs tekster er frit tilgængelige i henhold til loven om ophavsret. For udgivertekster (indledninger,
  tekstredegørelser, kommentarer) gælder almindelig praksis for henvisning til akademisk arbejde.</p>

<h3>Kildehenvisning</h3>
<p>Overordnet reference til <i>Grundtvigs Værker</i> angives med webadresse, versionsnummer og dato:</p>
<ul>
  <li><i>Grundtvigs Værker</i> (2010-), udg. af Grundtvig Centeret ved Aarhus Universitet, Aarhus & København
    (<a href="/gv">www.grundtvigsværker.dk</a>). Version 1.13, november 2018.
  </li>
</ul>
<p>Reference til et specifikt værk gives på følgende vis:</p>
<ul>
  <li>Grundtvig, N.F.S (1817) ”Ansgars Eftermæle”, i <i>Danne-Virke et Tids-Skrift 3</i>, København, s. 101-167; her
    efter udgaven i <i>Grundtvigs Værker</i>, udg. af Grundtvig Centeret ved Aarhus Universitet, Aarhus & København
    (<a href="/gv">www.grundtvigsværker.dk</a>). Version 1.9, november 2016.
  </li>
</ul>

<p>Referencer til udgivertekst angives på følgende vis:</p>
<ul>
  <li>Tullberg, Steen (2014), ”Indledning til <i>Nyaars-Morgen</i>. Et Rim”, i <i>Grundtvigs Værker</i>, udg. af Grundtvig
    Centeret ved Aarhus Universitet, Aarhus & København (<a href="/gv">www.grundtvigsværker.dk</a>). Version 1.4, maj 2014.
  </li>
</ul>

<h3>Version</h3>
<p>Den aktuelle version 1.13 blev offentliggjort november 2018. GV opdateres to gange årligt i hhv. april og
  november.</p>
