<!-- Modal Comment  -->
<div class="modal fade" id="comment_modal" tabindex="-1" role="dialog" aria-labelledby="comment">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a title="Kommentar" data-target="#comment_modal" class="modal-back-button" data-currenturl = "" data-home = "" href=""><i class="icon arrow_back"></i></a>
        <h4 class="modal-title" id="header">Kommentar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="luk"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>