<!-- Modal Comment  -->
<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="Søgetips">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="header">Kommentar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="luk"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>