





<!--<div class="row">-->
  <!--<div class="homeSearch box-gradient fixed-top-second">-->
    <!--<div class="search-bg">-->
      <!--<div class="container">-->
        <!--<div class="row text-center">-->
          <!--<h3>-->
            <!--&lt;!&ndash;<%= t('view-specific.home.bluebar.description') %>&ndash;&gt;-->
          <!--</h3>-->
          <!--<h3>-->
            <!--&lt;!&ndash;<a href="<%= t('view-specific.home.bluebar.link')%>", target="_blank">&ndash;&gt;-->
              <!--&lt;!&ndash;<%= t('view-specific.home.bluebar.link-label') %>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--</h3>-->
          <%- # render 'simple_search_form' -%>
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<%- # render 'first-group-of-boxes' -%>
<%- # render 'second-group-of-boxes' -%>

<%- # render :partial => 'catalog/politik_popup' -%>




