<div id="cookie-button" class="alert alert-info text-center" role="alert" style="display: none;">
  <p>
    <%= t('view-specific.home.cookie')%>
  </p>
  <p>
    <%= link_to 'Læs mere', page_path('politik'), :id => 'read-more', :class =>'btn btn-info' %>
    <button id="accept-cookie" type="button" class="btn btn-danger" data-dismiss="alert" aria-label="Close" onclick="cookieTerms('terms', 'true', 60)">Acceptere</button>
  </p>
</div>