<% buttons_list = []
   text_capabilities_type = get_text_capabilities_type (@document)

   text_capabilities = get_text_capabilities (@document[:capabilities_ssi])
   if text_capabilities.size() > 1
     begin
       text_capabilities.each do |title, url|
         javascript_url = "#{url}"
         classes = ''
         if title == text_capabilities_type
           classes = 'active'
         end
         buttons_list.push([title , title, javascript_url, classes, '', true])
       end
     end
   end
%>

<div class="relatedTextsToolbar
  <% if (text_capabilities_type == "Hovedtekst")||(text_capabilities_type == "Tekst" ) || (text_capabilities_type == "Værk" ) %> hidden
  <% end %>">
  <% if buttons_list.any? %>
    <%= render :partial => 'shared/components/organisms/filter-btn-group/index', locals: {list: buttons_list} %>
  <% end %>

</div>
