<!-- Modal Search tips  -->
<div class="modal fade" id="searchTips" tabindex="-1" role="dialog" aria-labelledby="Søgetips">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="header">Søgetips</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="luk"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div>
          <p>Der søges tre forskellige steder:  Titel, forfatter, al tekst.
            På hovedsiden søges overalt. På andre sider kan du vælge hvor.
            Du kan vælge tre forskellige måder at søge på:</p>
          <table>
            <tr>
              <td>Mindst et ord</td>
              <td>Finder alle tekster, hvor mindst et af de indtastede ord optræder</td>
            </tr>
            <tr>
              <td>Alle ord</td>
              <td>Finder alle tekster, hvor alle ord optræder</td>
            </tr>
            <tr>
              <td>Som ordene står</td>
              <td>Finder alle tekster, hvor alle ord optræder, som du har indtastet dem</td>
            </tr>
          </table>
          <p>Modificering af ’Alle ord’:  Skriv ”+” hhv. ”–” uden mellemrum før et ord, hvis resultatet SKAL hhv. IKKE MÅ indeholde dette ord.</p>
          <p>Du kan skrive "OR", "AND" og "NOT" til kombinerede søgninger.</p>
          <p>Der kan ikke anvendes jokertegn (wildcards). Trunkering udføres automatisk af systemet.</p>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>