<!-- Modal Search tips  -->
<div class="modal fade" id="searchTips" tabindex="-1" role="dialog" aria-labelledby="Søgetips">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="header"><b>Søgetips</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="luk"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div>
          <p>Til højre i søgefeltet kan du vælge hvilken <b>måde</b> du vil søge på:</p>
          <table>
            <tr>
              <td>Mindst et ord</td>
              <td>Finder alle tekster, hvor mindst et af de indtastede ord optræder</td>
            </tr>
            <tr>
              <td>Alle ord</td>
              <td>Finder alle tekster, hvor alle ord optræder<br/>
                <small><em>Du kan tilføje ”+” hhv. ”–” uden mellemrum før et ord, hvis resultatet SKAL hhv. IKKE MÅ indeholde dette ord.</em></small>
              </td>
            </tr>
            <tr>
              <td>Som ordene står</td>
              <td>Finder alle tekster, hvor alle ord optræder, som du har indtastet dem</td>
            </tr>
          </table>
          <p>Du kan skrive "OR", "AND" og "NOT" til kombinerede søgninger. Du kan ikke anvende jokertegn (wildcards). Søgetrunkering udføres automatisk af systemet.</p>
          <p>Til højre i søgefeltet kan du også vælge <b>hvor</b> du vil søge:</p>
          <table>
            <tr>
              <td>Al tekst</td>
              <td>Al tekst inkl. titel og forfatter, men ikke redaktionelle tekster (kommentarer o.a.)</td>
            </tr>
            <tr>
              <td>Titel & forfatter</td>
              <td></td>
            </tr>
            <tr>
              <td>Prosa</td>
              <td></td>
            </tr>
            <tr>
              <td>Verser & strofer</td>
              <td></td>
            </tr>
            <tr>
              <td>Dialog (drama)</td>
              <td></td>
            </tr>
          </table>
          <p>Desuden kan du indskrænke søgningen med de søgefacetter som ses i kolonnen til venstre for søgeresultaterne. At klikke på en samlingsikon på hovedsiden svarer til at tilvælge en søgefacet under 'Samling'.</p>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>