<!-- Modal Search tips  -->
<div class="modal fade" id="searchTips" tabindex="-1" role="dialog" aria-labelledby="Søgetips">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="header"><b>Søgetips</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="luk"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div>
          <p>Til højre i søgefeltet kan du vælge hvilken <b>måde</b> du vil søge på:</p>
          <dl class="row">
              <dt class="col-4">Mindst et ord</dt>
              <dd class="col-8">Finder alle tekster, hvor mindst et af de indtastede ord optræder</dd>
              <dt class="col-4">Alle ord</dt>
              <dd class="col-8">Finder alle tekster, hvor alle ord optræder<br/>
                <small><em>Du kan tilføje ”+” hhv. ”–” uden mellemrum før et ord, hvis resultatet SKAL hhv. IKKE MÅ indeholde dette ord.</em></small>
              </dd>
              <dt class="col-4">Som ordene står</dt>
              <dd class="col-8">Finder alle tekster, hvor alle ord optræder, som du har indtastet dem</dd>
          </dl>
          <p>Du kan skrive "OR", "AND" og "NOT" til kombinerede søgninger. Du kan ikke anvende jokertegn (wildcards). Søgetrunkering udføres automatisk af systemet.</p>
          <p>Til højre i søgefeltet kan du også vælge <b>hvor</b> du vil søge:</p>
          <dl class="row">
              <dt class="col-4">Al tekst</dt>
              <dd class="col-8">Søg i al tekst, men ikke i redaktionelle tekster (kommentarer o.a.)</dd>
              <dt class="col-4">Titel & forfatter</dt>
              <dd class="col-8">Søg i titel og forfatternavn</dd>
              <dt class="col-4">Prosa</dt>
              <dd class="col-8">Søg kun i tekst som er prosa</dd>
              <dt class="col-4">Vers & strofer</dt>
              <dd class="col-8">Søg kun i tekst som er lyrik</dd>
              <dt class="col-4">Dialog (drama)</dt>
              <dd class="col-8">Søg kun i tekst som er drama</dd>
          </dl>
          <p>I søgeresultaterne kan du indskrænke søgningen med de søgefacetter som ses i kolonnen til venstre, hvor der fx står ’Forfatter’, ’Indeholder mest’, ’Periode’ m.m.  At klikke på en samlingsikon på hovedsiden svarer til at tilvælge en søgefacet under 'Samling'.</p>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
