<div class="container frontpage-content second-boxes">
  <div class="row">
    <% ['sks', 'titles', 'periods', 'titles', 'periods'].each do |subject| %>
        <%= render :partial => 'box2', locals: {type: subject} %>
    <% end %>
  </div>
</div>