<% doc_presenter = index_presenter(document) %>
<% # bookmark/folder functions   -%>
<header>
  <div class="search-secondary box-gradient fixed-top-second">
    <div class="container-fluid">
      <h1>
        <span class="author">
          <% if document['author_name_tesim'].present? %>
            <%= doc_presenter.field_value 'author_name_tesim' %>:
          <% end %>
        </span>
        <span class="title">
          <%= doc_presenter.field_value 'work_title_tesim' %>
        </span>
        <span class="collection" title="samling">
            <%= t("view-specific.home.boxes.#{doc_presenter.field_value 'subcollection_ssi'}.title") %>
        </span>
      </h1>
    </div>
  </div>
</header>
