<div class="textPossibilitiesToolbar hidden">

  <!-- <%= @document[:id] %> -->
  <% if @document[:capabilities_ssi] %>
      <% if @document[:capabilities_ssi].match(/^.+$/) %>
          <%= @document[:capabilities_ssi].html_safe %>
      <% end %>
  <% end %>

</div>