<% query_params = current_search_session.try(:query_params)
   search_field = query_params.nil? ? "empty" : query_params[:search_field]
   if ["Alt", "phrase"].include? search_field
     query_params = current_search_session.try(:query_params)
     query = query_params[:q] if query_params.present?
     qmatch = query_params['match'] if query_params.present?
     query = query.gsub!(/^\"|\"?$/, '').strip if query.present?
   end %>
<%
  document = @document
  has_facs = document['has_facs_ssi'].present? && document['has_facs_ssi'] == 'yes' && document['cat_ssi'] != 'author' && document['cat_ssi'] != 'period'

  buttons_list = [
      ["<i class='icon get_app icon-medium' title='"+ t('general.text_toolbar.text') +"'></i>", 'download_pdf', solr_document_path(@document, format: :pdf), 'tableOfContent', 'target="_blank"', true],
      ["<i class='icon toc icon-medium' title='Indhold'></i>", 'show_toc', '', 'tableOfContent', 'data-toggle=modal data-target=#toc', true],
      ["<i class='icon brush icon-medium' title='Søgemarkering'></i>", 'toggleHighlight', '', 'active', '', query.present?],
      ["<i class='icon scissors icon-medium' title='Uddrag'>&#9986;</i>", 'quote', '', 'hidden', '', true],
      ["<i class='icon comment icon-medium' title='Tekstkommentarer'></i>", 'comment', '', 'hidden', '', true],
      ["<i class='icon translate icon-medium' title='Oversættelse'></i>", 'translation', '', 'hidden', '', true],
      ["<i class='icon filter_vintage icon-medium' title='Modernisering'></i>", 'modernized', '', 'hidden', '', true],
      ["<i class='icon info icon-medium' title='Tekstkritik'></i>", 'info', '', 'hidden', '', true],
      ["<i class='icon person icon-medium' title='Person'></i>", 'person', '', 'hidden', '', true],
      ["<i class='icon letter B icon-medium' title='Bibel reference'></i>", 'Bibel', '', 'hidden', '', true],
      ["<i class='icon letter M icon-medium' title='Mytologi'></i>", 'mytologi', '', 'hidden', '', true],
      ["<i class='icon location_on icon-medium' title='Beliggenhed'></i>", 'place', '', 'hidden', '', true],
      ["<i class='icon title icon-medium' title='Title'></i>", 'title', '', 'hidden', '', true],
      ["<i class='icon collections_bookmark icon-medium' title='Andre sidetal'></i>", 'pagination_other', '', 'hidden', '', true],
      ["<i class='icon photo_camera icon-medium' title='Faksimile'></i>", 'toggleFacsimile', 'javascript:toggleFacsimile()', '', '', has_facs],
      ["<i class='icon fullscreen_exit icon-medium' title='Tilbage til normal visning'></i>", 'escFullScreen', '', '', '', true],
      ["<i class='icon fullscreen icon-medium' title='"+ t('general.text_toolbar.fullscreen') +"'></i>", 'ocrFullscreenButton', '', '', '', true]
  ]
%>
<!-- Table of content modal -->
<%= render :partial => 'show_tools_work' %>

<div class="textToolbar">
  <% buttons_list.each do |button| %>
    <% if button[5] %>
      <%= render :partial => 'shared/components/atoms/filter-btn/index', locals: {text: button[0], id: button[1], url: button[2], classes: button[3], options: button[4]} %>
    <% end %>
  <% end %>
</div>