<% text_capabilities_type = get_text_capabilities_type (@document) %>

<span class="textPossibilitiesToolbar
  <% if text_capabilities_type == "Hovedtekst" %> hidden
  <% end %>">

  <fieldset>
    <%= render :partial => 'shared/components/atoms/checkbox/index.html.erb', locals: {label: '<i class="fa fa-scissors" aria-hidden="true">&nbsp;</i>Vis uddrag', selected: '', disabled: '', id: 'Show_only_this_part', name: 'Show_only_this_part'} %>
    <%= render :partial => 'shared/components/atoms/checkbox/index.html.erb', locals: {label: '<i class="fa fa-scissors" aria-hidden="true">&nbsp;</i>Vis uddrag', selected: '', disabled: '', id: 'Show_only_this_part', name: 'Show_only_this_part'} %>
    <%= render :partial => 'shared/components/atoms/checkbox/index.html.erb', locals: {label: '<i class="fa fa-scissors" aria-hidden="true">&nbsp;</i>Vis uddrag', selected: '', disabled: '', id: 'Show_only_this_part', name: 'Show_only_this_part'} %>
    <%= render :partial => 'shared/components/atoms/checkbox/index.html.erb', locals: {label: '<i class="fa fa-scissors" aria-hidden="true">&nbsp;</i>Vis uddrag', selected: '', disabled: '', id: 'Show_only_this_part', name: 'Show_only_this_part'} %>
    <%#= render :partial => 'shared/components/atoms/checkbox/index.html.erb', locals: {label: '<i class="fa fa-scissors" aria-hidden="true">&nbsp;</i>Vis uddrag', selected: '', disabled: '', id: 'Show_only_this_part', name: 'Show_only_this_part'} %>
    <%#= render :partial => 'shared/components/atoms/checkbox/index.html.erb', locals: {label: '<i class="fa fa-scissors" aria-hidden="true">&nbsp;</i>Vis uddrag', selected: '', disabled: '', id: 'Show_only_this_part', name: 'Show_only_this_part'} %>
    <%#= render :partial => 'shared/components/atoms/checkbox/index.html.erb', locals: {label: '<i class="fa fa-scissors" aria-hidden="true">&nbsp;</i>Vis uddrag', selected: '', disabled: '', id: 'Show_only_this_part', name: 'Show_only_this_part'} %>
  </fieldset>

</span>