<div class="org-fc19c325-bb61-4c28-ad0e-7c272912ed78 margin-bottom">
  <div class="content-header">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-8">
        <h1>VORES ARKIV A-Å</h1>
      </div>
      <div class="cell medium-4">
          @@include('./molecules/top-container-icons/index.html')
      </div>
      <div class="cell">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda at fugiat deleniti totam? Minus omnis officia maxime perferendis delectus dolorem dignissimos quisquam! Illum architecto voluptas ea officiis! Distinctio, cupiditate quisquam.
        </p>
      </div>
      <div class="cell medium-8">
        @@include('./molecules/filter-letters/index.html')
      </div>
      <div class="cell medium-4">
        @@include('./molecules/search-form/index.html', {"placeholder": "Søg i vores arkiv", "classes": "small"})
      </div>
    </div>
  </div>
</div>
