<div class="org-b4075c29-7e0b-46f8-87eb-fdde9f83e0e9 @@classes">
  <div class="grid-x grid-margin-x">
    <div data-filter="populaere artikler-tidsskrifter" class="small-12 medium-4 large-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "link"})
    </div>
    <div data-filter="populaere artikler-tidsskrifter" class="small-12 medium-4 large-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "link"})
    </div>
    <div data-filter="populaere smaatryk" class="small-12 medium-4 large-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "link"})
    </div>
    <div data-filter="populaere smaatryk" class="small-12 medium-4 large-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "link"})
    </div>
    <div data-filter="populaere artikler-tidsskrifter" class="small-12 medium-4 large-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "link"})
    </div>
    <div data-filter="populaere ovrigt" class="small-12 medium-4 large-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "link"})
    </div>
    <div data-filter="populaere boger" class="small-12 medium-4 large-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "link"})
    </div>
    <div data-filter="populaere boger" class="small-12 medium-4 large-3 cell">
      @@include('./organisms/content-spot/index.html', {"type": "link"})
    </div>
  </div>
</div>
