<div class="mol-368fb22a-f8c3-45d3-9a05-ed68933d0d2a collapsed">
    <form class="form-wrapper" onsubmit="event.preventDefault();">
       @@include('./atoms/input/index.html', {"type": "text", "placeholder": "@@placeholder"})
       @@include('./molecules/drop-down-input/index.html', {"placeholder": "Alle lokationer", "text": "Alle samlinger", "datalist": ["Alle samlinger", "Samling 1", "Samling 2", "Samling 3", "Samling 4", "Samling 5", "Samling 6"]})
       <button type="submit" alt="search">@@include('./atoms/icon/index.html',{"icon-type":"icon-search","icon-size":"icon-medium"})</button>
    </form>
    <a href="">Avanceret søgning</a>
</div>

