$color-dark-blue-100: #002E70;
$color-dark-blue-50: #F2F4F8;
$color-almost-black-100: #171717;
$color-almost-black-50: #989898;
$color-dark-gray: #323232;
$color-light-gray: #D6D6D6;
$color-red-100: #FF2947;
$color-pink-100: #F391B8;
$color-pink-50: #F9C8DC;
$color-pink-15: #FEEFF5;
$color-yellow-100: #FEEC89;
$color-yellow-50: #FFF6C4;
$color-yellow-15: #FFFDEE;
$color-sky-blue-100: #96E2FD;
$color-sky-blue-50: #CAF0FE;
$color-sky-blue-15: #F0FBFF;
$color-green-100: #26D466;
$color-teal-100: #8AE3DB;
$color-teal-50: #C4F1ED;
$color-teal-15: #EEFBFA;

$gradient-theme-1: linear-gradient(-180deg, #92d0f5 0%, #0c2d83 100%);
$gradient-theme-2: linear-gradient(-180deg, #1de2cd 0%, #0c2d83 100%);
$gradient-theme-3: linear-gradient(-180deg, #ffc7a9 0%, #0c2d83 100%);
$gradient-theme-4: linear-gradient(-180deg, #ff5252 0%, #0c2d83 100%);
$gradient-theme-5: linear-gradient(-180deg, #a88fd5 0%, #0c2d83 100%);

$gradient-themes: $gradient-theme-1,$gradient-theme-2,$gradient-theme-3,$gradient-theme-4,$gradient-theme-5;