<aside>
  <ul>
    <li><a class="active" href="">Adgang til materiale</a></li>
    <li><a href="">Udlån</a></li>
    <li><a href="">Læsesale</a></li>
    <li><a href="">Print & printere</a></li>
    <li><a href="">Kopi & Tryk</a></li>
    <li><a href="">Rådgivning</a>
      <ul>
          <li><a href="">Lorem ipsum</a></li>
          <li><a href="">Lorem ipsum</a></li>
          <li><a href="">Lorem ipsum</a></li>
      </ul>
    </li>
    <li><a href="">Særligt for</a></li>
    <li><a href="">Prislister</a></li>
    <li><a href="">Bøger til salg</a></li>
    <li><a href="">Aller services a-å</a></li>
    <li><a href="">Undervisning</a></li>
  </ul>
</aside>
