.mobile-menu {
  color: $color-dark-blue-100;
  display:flex;
  flex-flow: column;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 200ms;
  transition-delay: 200ms;
  .main {
    flex: 0 1 auto;
    font-size: 1.5rem;
    ul {
      list-style-type: none;
      padding:0;
      margin: 0 0 .75rem 0;
      &>li {
        line-height: 3rem;
        vertical-align: middle;
        list-style: none;
        .action {
          vertical-align:middle;
          line-height: 3rem;
          float: right;
        }
        &>ul {
          max-height: 0;
          overflow: hidden;
          transition: max-height 200ms ease-in;
          margin: 0;
          li {
            a {
              @extend %regular-sans-serif;
              font-size: 20px;
            }
            ul {
              list-style-type: disc;
              padding: 0 0 0 2rem;
              font-size: 1rem;
              li {
                list-style: initial;
                a {
                  font-size: 18px;
                  padding-left: .75rem;
                }
              }
            }
          }
        }
        &.active {
          &>ul {
            max-height: 100vh;
          }
        }
      }
    }
    .sub-menu {
      &:after {
        content: "+";
      }
    }
    .active {
      &>.sub-menu {
        &:after {
          content: "-";
        }
      }
    }

  }
  .secondary {
    flex: 1 1 auto;
    font-size: 1rem; 
    ul {
      padding: 0 0 4rem;
    }
    li {
      line-height: 2.250rem;
      list-style: none;
      a {
        @extend %regular-sans-serif;
      }
     }      

  }
  .menu-open & {
      max-height: 100vh;
      opacity: 1;
      overflow-y: auto;
      margin-top: 1.5rem;
  }
  .form-wrapper {
    button {
      i {
        float:right;
        margin-right: 1.5rem;
      }
    }
  }
  .collapsable {
    overflow: hidden;
    transition: all 300ms ease-out;
    margin-bottom: .75rem;
  }
  .collapsed {
    max-height: 0;
    opacity: 0;
  }
}