<nav class="mobile-menu theme-bg">
    <div class="main">
        <div class="inner-content grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell" >
                    <ul>
                        <li><a href="#">Find Materiale</a></li>
                        <li><a href="inspiration.html">Inspiration og temaer</a></li>
                        <li><a href="#">Services</a><div class="action sub-menu"></div>
                            <ul>
                                <li><a href="">Submenupunkt</a></li>
                                <li><a href="">Submenupunkt</a></li>
                                <li><a href="">Submenupunkt</a></li>
                                <li><a href="">Submenupunkt</a></li>
                                <li><a href="">Submenupunkt</a></li>
                                <li><a href="">Submenupunkt</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Arrangementer</a></li>
                        <li><a href="#">Besøg os</a><div class="action sub-menu"></div>
                            <ul>
                                <li><a href="">DKB KBH</a><div class="action sub-menu"></div>
                                    <ul>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                    </ul>
                                </li>
                                <li><a href="">DKB AArhus</a><div class="action sub-menu"></div>
                                    <ul>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Kunstbib</a><div class="action sub-menu"></div>
                                    <ul>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                        <li><a href="">Submenupunkt</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="search" id="searchText">
                            <a href="#">Søg på kb.dk</a>
                            <div class="action">
                              <%= render :partial =>'shared/components/atoms/icon/index', locals: {icon_type: 'search', icon_size: 'icon-small'}%>
                            </div>
                        </li>
                    </ul>
                    <div class="collapsable mobile-search-area collapsed">
                      <%= render :partial =>'shared/components/molecules/advanced-search-form/index', locals: {close: false , action: search_action_url , form_method: 'get', input_placeholder: t('blacklight.search.form.search.placeholder'), dropdown1_placeholder: 'dropdown1_placeholder', classes: 'collapsed'}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <%= render :partial =>'shared/components/atoms/divider/index', locals: {type: 'bottom-left'}%>
    <div class="secondary">
        <div class="inner-content grid-container">
            <div class="grid-x grid-padding-x grid-padding-y">
                <div class="cell" >
                    <ul>
                        <li><a href="#">Au Library</a></li>
                        <li><a href="#">Dab</a></li>
                        <li><a href="#">Rex</a></li>
                        <li><a href="#">Udlån</a></li>
                        <li><a href="#">Åbningstider</a></li>
                        <li><a href="#">Om Det Kgl. Bibliotek</a></li>
                        <li><a href="#">In English</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>