<article>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
    Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
  </p>
  @@include('molecules/figure/index.html', {"source": "/assets/img/article-image.png"})
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
    Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
    <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong>
  </p>
  @@include('./atoms/blockquote/index.html')
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
    Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
  </p>
  @@include('./atoms/table/index.html')
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
    Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
  </p>
  @@include('./molecules/focus-spot/media-container.html')
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
    Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
  </p>
  @@include('./molecules/focus-spot/index.html')
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
    Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
  </p>
  @@include('./atoms/accordion/index.html')
  </article>
