<div class="org-9ed2dcde-50dc-4d49-9bf2-6be9f29bc1d9">
  <div class="inner-content grid-container">
    <div class="grid-x grid-padding-x grid-margin-x grid-padding-y">
      @@if (nav === true) {
        <div class="cell show-for-large large-3">
          @@include('organisms/aside/index.html')
        </div>
        <div class="cell small-12 large-9">
      }
      @@if (nav === false) {
        <div class="cell small-12">
      }
        <article>
          <h1>Dansk modernistisk arkitektur</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
            Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
          </p>
          @@include('molecules/figure/index.html', {"type": "article-right", "source": "/assets/img/article-image.png", "caption" : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi porro tenetur at nemo, corporis doloribus hic . Aliquid?"})
          <p>
            Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nesciunt aliquam sunt, dignissimos error iusto. Repellendus quos exercitationem dolore, amet nemo voluptates, excepturi iste! Soluta quasi officiis porro, ducimus sint.consectetur adipisicing elit. Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
            Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
            Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
            Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
          </p>
          @@include('molecules/figure/index.html', {"type": "article-left", "source": "/assets/img/article-image.png", "caption" : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi porro tenetur at nemo, corporis doloribus hic . Aliquid?"})
          <p>
            Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nesciunt aliquam sunt, dignissimos error iusto. Repellendus quos exercitationem dolore, amet nemo voluptates, excepturi iste! Soluta quasi officiis porro, ducimus sint.consectetur adipisicing elit.
            Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
            Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis eius hic natus magni veritatis velit odit, sint repellat quidem ipsum amet quia autem, asperiores voluptate labore officiis, nesciunt alias perspiciatis.impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
            Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
            Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae perferendis unde mollitia soluta repudiandae reprehenderit voluptate eos perspiciatis odit est, sit a sunt, corrupti. Quasi consequatur cupiditate, illum earum illo.
            Pas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, impedit nobis deserunt quibusdam, labore dolorem ut, tempore animi architecto recusandae aliquid omnis laudantium commodi eveniet consequuntur maiores! Deserunt, assumenda obcaecati.
          </p>
          @@include('molecules/figure/index.html', {"type": "article-center", "source": "/assets/img/article-image.png", "caption" : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi porro tenetur at nemo, corporis doloribus hic . Aliquid?"})
        </article>
      </div>
    </div>
  </div>
</div>
