"use strict";

function show_relevant_text_possibilities() {

    let iconPath = "<%= asset_path('page.svg') %>";
    let pageBreaks = document.querySelectorAll('.symbol.pagination.edition');
    pageBreaks.forEach(function(pageBreak) {
        pageBreak.parentElement.style.display = 'inline';
        pageBreak.innerHTML = '<span class="hidden"><i class="icon collections_bookmark icon-medium" title="Andre sidetal"></i></span> ' + pageBreak.innerHTML;
    });

    pageBreaks = document.querySelectorAll('.symbol.pagination.other');
    pageBreaks.forEach(function(pageBreak) {
        pageBreak.innerHTML = '<i class="icon collections_bookmark icon-medium" title="Andre sidetal"></i>' + pageBreak.innerHTML;
    });

    let types = ['quote', 'comment', 'translation', 'modernized', 'info', 'person', 'Bibel', 'mytologi', 'place', 'title', 'pagination.other'];
    types.forEach(function(type)
    {
        var symbols = document.querySelectorAll('.symbol.' + type);
        if (symbols.length !== 0){
            var button = document.getElementById(type.replace('.', "_"));
            button.classList.remove("hidden");
        }
    });
}

window.addEventListener('load', show_relevant_text_possibilities(), false);