<div class="mol-9db6cd37-efc9-415d-a2ab-38bfacb57aff">
    <h3>Køb nu headline</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quos facilis sunt architecto tempora totam culpa placeat ad, ipsa deserunt nihil fugiat eligendi? Suscipit ab perferendis porro! Nisi, excepturi molestiae.</p>
    <div class="box flex-container align-center">
        @@include('./atoms/button/index.html', {"text": "Tegn abonnement - 29 kr <sup>*</sup>"})
    </div>
    @@include('./atoms/disclaimer/index.html')
</div>