.icon {
    display: inline-block;
    font: normal normal normal 14px/1 'material-icons';
    font-size: inherit;
    letter-spacing: .1px;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    color: inherit;
    &:before {
      width: 100%;
      display: inline-block;
      height: 100%;
      text-align: center;
    }
  &.icon-link {
    &:before {
      content: '\f18e';
    }
  }
  &.icon-search {
    &:before {
      content: '\f1c3';
    }
  }
  &.icon-home {
    &:before {
      content: '\f175';
    }
  }
  &.icon-format-size {
    &:before {
      content: '\f24b';
    }
  }
  &.icon-print {
    &:before {
      content: '\f1b0';
    }
  }
  &.icon-share {
    &:before {
      content: '\f35b';
    }
  }
  &.icon-chevron {
    &:before {
      content: '\f2f9';
    }
  }
  &.icon-clear {
    &:before {
      content: '\f136';
    }
  }
  &.icon-location {
    &:before {
      content: '\f1ab';
    }
  }
  &.icon-podcast {
    &:before {
      content: '\f3bc';
    }
  }
  &.icon-music {
    &:before {
      content: '\f10f';
    }
  }
  &.icon-video {
    &:before {
      content: '\f151';
    }
  }
  &.icon-arrow-dropdown {
    &:before {
      content: '\f2f2';
    }
  }
  &.icon-arrow-dropdown-white {
    color:white;
    &:before {
      content: '\f2f2';
    }
  }
  &.icon-account-circle {
    &:before {
      content: '\f205';
    }
  }
  &.icon-facebook {
    background-image: url(/assets/img/icons/icon-facebook.svg);
  }
  &.icon-twitter {
    background-image: url(/assets/img/icons/icon-twitter.svg);
  }
  &.icon-button-right {
    background-image: url(/assets/img/icons/icon-button-right.svg);
    background-size: cover;
  }
  &.icon-crown {
    background-image: url(/assets/img/icons/icon-crown.svg);
  }
  
  &.icon-xsmall {
    width: .75rem;
    height: .75rem;
    font-size: .75rem;
  }
  &.icon-small {
    width: 1.125rem;
    height: 1.125rem;
    font-size: 1.23rem;
  }
  &.icon-medium {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }
  &.icon-large {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
  }
}
