<div class="org-56db3234-fd85-49c0-b8de-591b19fdc1c4 <%= classes %>">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-y">
            <div class="cell small-12">
                <%= render documents, :as => :document %>
            </div>
            <div class="cell small-12">
                <div class="box flex-container align-center">
                  <%= render documents_bottom %>
                </div>
            </div>
        </div>
    </div>
</div>