// Bookmark icons in the list
.checkbox.toggle-bookmark{
  label{
    &:before {
      content: "\f097";
      font-family: FontAwesome;
      position: relative;
      padding-left: 80px;
      padding-top: 2px;
      color: $primary;
    }

    input, span{
      display:none;
    }
  }
  .checked {
    &:before {
      content: "\f02e";
      color: $primary;
    }
  }

}
// Bookmark icon on the navbar
#bookmarks_nav{
  &:before {
    content: "\f02e";
    font-family: FontAwesome;

    position: relative;
    padding-left: 80px;
    padding-top: 2px;
    color: $primary;
  }

}